[2012-07-27 18:32] johnmcdonnell opened #1 "Switch to gunicorn."
Gunicorn is easy to use and seems to be much more stable than the flask debugging server.

[2012-07-27 18:44] johnmcdonnell opened #2 "Change primary key to assignmentId"
The experiment currently generates a subject number for each subject and makes that the primary key in the db table. This creates issues when merging tables. Since the assignmentId must necessarily be universally unique, it would make more sense as a primary key.

[2012-08-20 12:49] #2 closed, assigned to nobody

[2012-08-21 19:57] #1 closed, assigned to nobody

[2012-08-21 19:58] johnmcdonnell opened #3 "Debriefing"
Since many labs don't need to debrief online participants, make a setting in config.txt that allows this step to be easily skipped.

[2012-09-14 14:10] johnmcdonnell opened #4 "Javascript organization"
Right now, task.js is set up to be pretty spaghetti-ish. Initializing an instruction object results in instructions immediately being begun, and finishing immediately causes the test phase.  A more transparent/OOPish approach might be to generate a list of objects and running them in turn.

[2012-09-14 18:14] johnmcdonnell opened #5 "Easily point to an outside exp"
A lot of people might want psiturk to handle the interface with MTurk but then forward to a task they already have set up at a different url. We might want to set this up to make that easy, as well as have instructions for how to set up their existing experiment to call back to psiturk when the participant is done.

[2012-10-09 00:44] RwwL opened #6 "can't Quick Start based on README docs"
I've followed the directions in the README—dependencies seem to have installed without issue, and it was easy to find my Access Key ID & Secret Access Key after creating an AWS account—but when I try to run python mturk/createHIT.py I get the an XML response that includes the error "The identity contained in the request is not authorized to use this AWSAccessKeyId."

I'm not sure if the createHIT.

[2012-11-04 20:42] #6 closed, assigned to nobody

[2013-02-07 20:57] dmarkant opened #7 "Automated bonuses"
Want an automatic process for paying out bonuses. If bonus is based on performance, need a way for experiment to add value to database or otherwise provide the bonus amount.

[2013-04-25 17:46] dmarkant opened #8 "update instructions for debugging"
make it clear that you have to enter URL parameters

[2013-04-25 17:58] dmarkant opened #9 "instructions/workflow to run on heroku"

[2013-05-01 16:44] johnmcdonnell opened #10 "Encode more information"
Maybe this should be more than one issue, but for each subject we should consider encoding:
- User agent
- Losses of screen focus (would require a new table in db)
- Other stuff?

[2013-05-01 21:35] johnmcdonnell opened #11 "Build a friendly dashboard for handling the experiments."

[2013-05-02 14:12] jbmartin opened #12 "Python installer/launcher"
Build a python executable that lanches Flask server and dashboard.

[2013-05-03 13:36] dmarkant opened #13 "Separate Javascript library for handling interaction with server"

[2013-05-07 22:16] jbmartin opened #14 "Ability to edit config file via dashboard"

[2013-05-07 22:16] #14 closed, assigned to jbmartin

[2013-05-07 22:18] jbmartin opened #15 "See server.log from dashboard"

[2013-05-07 22:21] jbmartin opened #16 "Expose boto functionality to UI"

[2013-05-10 16:46] johnmcdonnell opened #17 "Prettify boto errors"
When Boto has issues with the server, users should see a useful message. Hopefully just dumping teh info from the exception will be adequate in most cases, but we can smooth over instances where it doesn't.

[2013-05-15 04:26] #13 closed, assigned to dmarkant

[2013-05-22 04:16] jbmartin opened #19 "Documentation"
is needed

[2013-05-31 15:02] bumble-bee-chuna opened #20 "psiTurk-dev // Error: #1001"
We are working off Github psiTurk-dev installation branch and followed the setup instructions listed. We want to run the dev server locally and are running gunicorn as an h server.We're trying to connect to http://localhost:5001/mturk; however, we keep receiving the following Error: #1001 message:

"Sorry, there was an unexpected error in our processing of your hit.

If you would like to receive p

[2013-06-04 21:28] #20 closed, assigned to nobody

[2013-06-10 20:45] #10 closed, assigned to nobody

[2013-06-18 04:00] #9 closed, assigned to nobody

[2013-06-18 04:06] #12 closed, assigned to gureckis

[2013-06-22 17:16] #16 closed, assigned to nobody

[2013-06-22 17:16] #17 closed, assigned to jbmartin

[2013-07-01 21:03] johnmcdonnell opened #21 "Authentication for dashboard"
If we run on OpenShift, the dashboard needs to have authentication.

[2013-07-11 04:14] jbmartin opened #22 "Nested AJAX calls in Dashboard"
Simplify nested AJAX calls using functional reactive programming (observer pattern) e. g., bacon.js

[2013-07-11 17:05] bumble-bee-chuna opened #23 "Stroop task"
## UPDATE: this issue was resolved. thank you

Hello,
I just recently started working with the code for the Stroop task.

I am interning in the LNCC at Brown and we are trying mess with the code to use images rather than the 64px, helvetica text with 3 color attributes that is used.

In the task.js file, there is the following code

---

[code]

---

which is where I'm assuming the browser reads w

[2013-07-12 06:28] #23 closed, assigned to nobody

[2013-07-17 15:03] gureckis opened #24 "gevent and libevent dependency"
On a stock Mac OS X 10.8.4, running
`python setup.py install`
in current 'dev' branch fails to install the gevent dependency.   First it requires gcc to be installed via XCode ([click here for instructions](http://stackoverflow.com/questions/9329243/xcode-4-4-command-line-tools)).

After gcc is installed, error message at console looks something like this

Work around is to install libeevent from

[2013-07-17 15:07] gureckis opened #25 "/mturk folder"
Are the scripts in /mturk folder necessary anymore given the dashboard?  If so, should they be foldeded in as flags/options on the main setuptools psiturk command?  Otherwise noone will have access to these tools unless checkout via git (or digg in the egg file someplace on the system).

[2013-07-17 16:50] jbmartin opened #26 "Dashboard hangs without network access"

[2013-07-19 14:45] #24 closed, assigned to jbmartin

[2013-07-21 19:12] jbmartin opened #27 "Experiment debugging and database entries"
When the test button is pressed on the dashboard and a debug entry already exists in the database, the server should either a) generate a unique debug user, b) overwrite the existing debug user, or c) let the end user decide between either a) or b).

[2013-07-23 15:36] #26 closed, assigned to nobody

[2013-07-23 15:38] #27 closed, assigned to nobody

[2013-07-24 14:42] #8 closed, assigned to nobody

[2013-07-24 14:57] #5 closed, assigned to nobody

[2013-07-24 15:02] #11 closed, assigned to jbmartin

[2013-07-24 15:04] jbmartin opened #28 "Better notifications and error handling in dashboard"
Dashboard should report errors, such as AMT failure, network failure, server exceptions, low balance, etc.

[2013-07-24 15:05] johnmcdonnell opened #29 "Arrange setuptools to work with OpenShift"
Allow easy pulling of the github repo into OpenShift.

[2013-07-24 15:13] johnmcdonnell opened #30 "Make available in PyPi"

[2013-07-24 15:16] johnmcdonnell opened #31 "Automated crediting"
We'll see if we make this in time for the CogSci meeting, it would be great to have but let's not kill ourselves to do it.

[2013-07-24 16:20] johnmcdonnell opened #32 "Zombie port socket bug"
When Werkzeug opens the port socket, it sets the close-on-exec flag to 0, this needs to be 1.

[2013-07-24 22:16] jbmartin opened #33 "Ownership"
We might want to consider transfer of ownership from @johnmcdonnell to @NYUCCL. Currently Google searches point to @johnmcdonnell. Another issue is that the code in forked repos cannot be searched within Github.

https://help.github.com/articles/how-to-transfer-a-repository

[2013-07-24 23:05] #32 closed, assigned to johnmcdonnell

[2013-07-27 21:36] #33 closed, assigned to johnmcdonnell

[2013-07-29 07:40] #30 closed, assigned to johnmcdonnell

[2013-07-29 07:40] #3 closed, assigned to jbmartin

[2013-07-30 07:48] #15 closed, assigned to jbmartin

[2013-07-30 10:07] jbmartin opened #34 "Revert to websockets"
The current long poll method used to query server status eats up many browser threads, reducing overall performance. We should opt for websockets before we move out of beta. This should be less of an issue now that we tell people to have XCode before installing psiTurk (recall that websockets requires gevent and gcc).

[2013-07-30 10:16] jbmartin opened #35 "Dashboard hang"
Currently, the dashboard's backend doesn't timeout if response is not received from Amazon or other web services (e.g., no internet or amz down), causing the dashboard to hang. I suggest adding a simple timeout to all routes calling external services, so that the dashboard can react appropriately to exceptions.

[2013-08-01 20:21] jbmartin opened #36 "Support group experiments"
We could implement this by adding web sockets and a socketio wrapper in psiturk.js.

[2013-08-01 20:22] jbmartin opened #37 "Support longitudinal studies"
Our current setup prevents workers from participating in a study more than once.

[2013-08-05 01:12] jbmartin opened #38 "Create experiment/snippet repository"
Repo for people to share their experiments and/or code snippets.

[2013-08-05 01:15] #22 closed, assigned to jbmartin

[2013-08-10 01:02] jbmartin opened #39 "Version numbering scheme"
I suggest we follow the semantic versioning guidelines listed on http://semver.org/.

[2013-08-12 12:30] jbmartin opened #40 "Major dashboard refactor"
The initial release of the dashboard has several organizational and conceptual issues that could be remedied though a major refactor. I propose that we
1. Use [backbone.marionette](https://github.com/marionettejs/backbone.marionette) to better organize the dashboard's MVC architecture.
2. Remove Require.js. Marionette modules provide similar functionality without the learning curve and confusion.

[2013-09-16 16:57] jbmartin opened #41 "Experiment server not launching from dashboard."
The server on button in the dashboard doesn't launch experiment server. No server log file is generated.

[2013-10-08 17:16] jhamrick opened #42 "Config option use_debriefing=0 behaves unexpectedly"
It seems like setting `use_debriefing=0` doesn't actually have an effect on whether the debriefing page is displayed or not. I looked in `experiment.py` at the `debrief` route and it looks like if `use_debriefing=0`, it will mark the user as completed but then still render `debriefing.html`.

Based on my understanding of the code, it seems like it should actually mark the user as debriefed (becaus

[2013-10-22 00:12] #42 closed, assigned to nobody

[2013-10-22 11:08] gureckis opened #47 "experiment server can't be run from command line"
psiturk-server command fails with

[code]

Thanks to @jhamrick for pointing this out.

[2013-10-22 11:10] #47 closed, assigned to nobody

[2013-10-22 17:40] gureckis opened #48 "User provided server-side routes"
Outside of editing directly the experiment.py script and re-installing the **psiTurk** package there is currently no way for a user of the system to add new server side routes.  It would be nice is the experiment archives could include a python module which would load when psiturk is executed and would extend the functionality of the experiment server for further customization.

[2013-11-08 16:50] #21 closed, assigned to nobody

[2013-11-08 16:53] #19 closed, assigned to nobody

[2013-11-08 16:58] gureckis opened #49 "Modern security settings in browsers block mixed http/https webpages"
Amazon has moved to SSL/https everywhere.  When we use the experiment-server to provide a webpage to the user it is unencrypted.  Some browsers won't display the content in this case.  The issue mostly applies to viewing the "ad" of the HIT on the worker site.

There are instructions for workers on how to deal with this here, but down many find them
https://www.mturk.com/mturk/help?helpPage=worker

[2013-11-08 16:59] #39 closed, assigned to nobody

[2013-11-18 03:25] gureckis opened #52 "Guide for contributors"
We might want to add to the Wiki or main project a description about how to contribute
similar to this:
https://github.com/benoitc/gunicorn/blob/master/CONTRIBUTING.md

[2013-11-18 15:58] isofer opened #53 "the names 'condition' and 'counterbalance' can be confusing"
I think the current naming conventions can be a little confusing.
The  'condition' and 'counterbalance' parameters are essentially both between-subjects factor, so it might be better to use names that reflect this.

condition can be replace with level_a (The level is factor A), and counterbalance with level_b (the level in factor B).

Of course, changing names will create compatibility issues, so

[2013-11-19 05:34] #41 closed, assigned to nobody

[2013-11-19 21:20] #52 closed, assigned to gureckis

[2013-11-19 21:27] jhamrick opened #55 ""Approve" button rejects participant HITs"
I was running some participants last night and approved their HITs using PsiTurk. Shortly after, I received emails from the participants asking why they had been rejected! I checked on the Turk website, and sure enough, somehow I had rejected, not accepted their HITs...

Indeed, it appears in `dashboard_server.py` that the `/approve_worker` route actually rejects them. I'll investigate the fix and

[2013-11-19 21:30] jhamrick opened #56 "Un-rejecting participants"
If a worker is accidentally rejected, they can be un-rejected and approved, but only through the API, not through the Turk website:

http://turkrequesters.blogspot.com/2012/09/how-to-unreject-assignments-on.html

This seems like it would be a great feature for PsiTurk to have!

[2013-11-19 21:40] #55 closed, assigned to nobody

[2013-11-20 06:26] #49 closed, assigned to nobody

[2013-11-20 06:34] gureckis opened #58 "Secure Ad server"
As mentioned in Issue #49, ads won't display in the <iframe> on AMT's worker site unless server is using a official (non-self signed) SSL certificate.  This is a high bar for novice users.  Most universities will not provide these for free for lab servers/desktops/laptops.  Thus, using the system requires a hosting account online, an added level of complication.

My solution to this is to create a

[2013-11-21 12:11] gureckis opened #59 "Command line interface"
Providing a "console" like tool that would let users interact with a simple text-based interface to create hits, approve hits, pay people, etc...

@alexanderrich got this started but just opening an issue here for any discussion or ideas about features for this CLI to have.

[2013-11-22 22:29] #25 closed, assigned to johnmcdonnell

[2013-12-02 19:09] gureckis opened #60 "replace SQLLite or MySQL requirement with a Amazon Web Services database solution (e.g., DynamoDB)"
All turk requesters will automatically get a free 100MB of NoSQL database support from AWS (accessible via boto).  This would clean up the requirement of getting a separate database which could be an problem for some users.

See http://aws.amazon.com/dynamodb/

AWS is fully backed up and more redundant than a local MySQL install anyway.

[2013-12-10 02:37] #58 closed, assigned to nobody

[2013-12-11 03:42] #48 closed, assigned to nobody

[2013-12-11 03:51] #35 closed, assigned to nobody

[2013-12-11 03:52] #28 closed, assigned to nobody

[2013-12-11 03:57] #34 closed, assigned to nobody

[2013-12-12 18:33] jodeleeuw opened #61 "No 'test' button in Dashboard"
The Quickstart guide (https://github.com/NYUCCL/psiTurk/wiki/Quickstart) refers to a test button in the final step, but there is no such button (at least that I can find... sorry if I'm just missing it!).

[2013-12-12 18:43] #61 closed, assigned to nobody

[2013-12-12 23:22] #40 closed, assigned to jbmartin

[2013-12-12 23:25] #29 closed, assigned to johnmcdonnell

[2013-12-13 19:54] jodeleeuw opened #62 "Trouble getting psiturk-setup-example to work"
This is a continuation of the discussion in this issue thread: https://github.com/NYUCCL/psiTurk/issues/61. The discussion was getting away from the original issue and to a new problem.

The issue is that running `psiturk-setup-example` from the 1.05dev branch throws an error:

[code]

[2013-12-13 20:05] #62 closed, assigned to nobody

[2013-12-16 19:43] jodeleeuw opened #63 "clarify getting started docs for cases where psiturk is running on remote server"
I have psiturk running on a remote server that I SSH into. When I went to test the example experiment, it was unclear how to get a debug version that worked on a remote machine. Eventually I found the `debug --p` option, which works well. The wiki page might mention this since the remote server situation is probably a common one.

[2013-12-16 19:47] jodeleeuw opened #64 "missing dependencies for example experiment"
When I launch the example experiment and get to the page after the consent document, I get the following errors:

![screen shot 2013-12-16 at 2 46 39 pm](https://f.cloud.github.com/assets/595524/1758135/cd4e6dc8-668a-11e3-8bd6-99e16eed0cbc.png)

[2013-12-16 21:17] #64 closed, assigned to nobody

[2013-12-16 21:28] gureckis opened #65 "when no internet available (e.g., airplane) psiturk will not run"
in /dev, it looks like stuff involved in checking account balance, etc... do not fail gracefully without internet.  seems useful to test without internet, i guess on startup there should be a "mode" check to see if online and if not, do not connect up with AMT for available balance/hits, etc...  (command prompt can say "offline mode" or something)

[2014-01-07 17:35] #60 closed, assigned to nobody

[2014-01-07 18:28] jbmartin opened #66 "Host psiTurk experiments on EC2 (Amazon's cloud)"
A killer feature for **psiTurk** would be the ability to host experiments as an instance on Amazon's EC2 cloud servers. This feature would provide a stable server with a [dedicated IP](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-instance-addressing.html), which would be super useful for labtop users.

It should be possible to wrap [these instructions](https://github.com/d5/docs/wiki/I

[2014-01-15 16:38] gureckis opened #67 "reloading experiment page"
currently we block this to prevent people starting over.  this behavior isn't always what experiments want (e.g., if there's a display error reloads are intuitive way to possibly correct).  should make the exit-on-reload an option.

[2014-01-17 22:29] gureckis opened #68 "unique project/worker specific urls and browser caching"
I'm working on like 5 psiturk projects at once right now.  When I switch between them the access URL stays the same (e.g., http://localhost/exp?).  However often I have to reload a few times to update changes to html or css files that were cashed from my previous access to that URL (which was for a different project).

If possible might be nice if each project you were working on was accessed via

[2014-01-20 23:03] jbmartin opened #69 "CLI worker command breaks on approve and list arguments"
Had 2 workers pending review, and this is the CLI output I received:

[code]

However, according to MTurk both workers were in fact paid.

[2014-01-20 23:33] jbmartin opened #70 "Improve CLI referencing of HITs and workers"
The current CLI requires users to reference workers and HITs using really long ID numbers. E.g.,

[code]

However, the process of cutting and pasting can be a bit cumbersome when working with multiple workers and/or HITs. To make things a little easier, I propose that each worker and HIT recieve a short alias called _psiTurkID_, which can be used to reference them without having to cut and paste.

[2014-01-20 23:43] #69 closed, assigned to nobody

[2014-01-21 00:01] jbmartin opened #71 "Fix inconsistent CLI argument flags"
The current CLI accepts inconsistent arguments across the same commands. That is, some arguments require flags and some don't. For example,

[code]

We should try to be consistent with where argument flags are used. Right now, I don't know when to use `--all` or `all` without referring to the help docs.  Moreover, shouldn't `worker list` require an `--all` argument to be consistent with `worker {a

[2014-01-21 00:53] jbmartin opened #72 "Figure out why `hit extend` is throwing an exception"
Adding workers to an active HIT throws an exception and doesn't fail gracefully. Looking at the exception it appears that AMT isn't recognizing the HIT ID provided by `hit list active`.

[code]

*Note, HIT IDs have been obfuscated.

[2014-01-21 03:47] #59 closed, assigned to nobody

[2014-01-21 07:52] #72 closed, assigned to nobody

[2014-01-21 20:02] #65 closed, assigned to nobody

[2014-01-25 18:12] jbmartin opened #73 "Improve server performance"
For experiments that transmit a lot of data, **psiTurk** often becomes slow or unresponsive. This is most likely because of [Gunicorns synchronous request model](http://docs.gunicorn.org/en/latest/design.html?highlight=sync%20workers), which is designed to only serve one request per worker. On servers with limited worker capacity (limited CPUs), multiple participants with slow internet connections

[2014-01-29 07:09] jbmartin opened #74 "Document sandbox testing behind a router"
Recently, I was trying to test an experiment at home using the ad server but kept getting **Error 1015**. Turns out that psiturk.org verifies if there is a valid experiment running at the host listed in the `config.txt`, so using `localhost` will fail. To get around this, I forwarded my router's `port 22362` to my laptop's `port 22362` using my Linksys' admin page (if needed, I can add instruction

[2014-03-13 18:47] jonberliner opened #75 ""db use_aws_instance" ambiguity (1.0.8dev)"
~~When I try to switch to a MySQL database made with "db aws_create_instance" using "db use_aws_instance MYINSTANCE", then type "db get_config", it still prints the default "sqlite:///participants.db".  The config file for the project remains unchanged as well.  Is this a bug, or is it switching somewhere that I don't notice?~~

found the databases docs.  sorry about that.

[2014-03-13 18:50] #75 closed, assigned to nobody

[2014-03-13 19:20] gureckis opened #76 "deleting an in-use aws RDS instance"
currently the aws_delete_instance can delete a RDS database instance even it the current config.txt is set to use that instance.  might better if it warned user that it is not possible to delete an in-use database.  it is not that trivial to figure out which database instance is being referred to given the database_url setting which is why i'm opening this as a possible enhancement.

[2014-03-16 00:59] jhamrick opened #77 "HIT "duration" vs "lifetime""
Just started playing around with the new CLI interface -- very nice!

I was looking through the docs on the configuration parameters, and noticed that `lifetime` says this:

However, my understanding was that the `lifetime` is how long the HIT is available for people to accept, and the `duration` was how long they can hold on to the assignment? At least, that's what it says in the [AWS docs](http:

[2014-03-16 07:11] jhamrick opened #79 "Error downloading data files"
When I run the `download_datafiles` command from the shell, I get the following error:

[code]

The problem seems to be with `trialdata` specifically, which is a list of lists of dictionaries (participants x trials x trial data). There are at least two possible fixes:
1. Convert the trial data to csv format in the `Participants` model, as is the case with the event and question data.
2. Save the t

[2014-03-17 19:26] jhamrick opened #81 "Color code formatting on linux"
When I run psiTurk on my linux server, the color formatting seems to have issues:

![image](https://f.cloud.github.com/assets/83444/2440616/709a17e6-ae09-11e3-9368-034514642fa6.png)

I think it is because of the `\001` and `\002` escape sequences in the `colorize` function in `psiturk_shell.py`; when I remove them, the weird unicode characters go away. These characters don't appear when I run psiT

[2014-03-17 20:27] #77 closed, assigned to nobody

[2014-03-19 13:18] #79 closed, assigned to nobody

[2014-03-19 13:30] alexanderrich opened #82 "Document how to get data from the database and parse into a useable format"
Currently, the psiTurk documentation has lots of instructions about how to fill a database with data, but no instructions about how to get the data back out. We should add examples to the documentation of how to connect to a database with python using sqlalchemy, as well as how to parse the datastring json object into something usable.

[2014-03-31 18:38] #81 closed, assigned to nobody

[2014-04-03 21:56] ebbinghaus opened #83 "Python bugs in custom.py crash server without error message"
If I create bad python code in custom.py it crashes the server with no message.

[2014-04-04 00:03] dylnb opened #84 "unresolved merge conflicts in psiturk/psiturk_shell.py"
![screen shot 2014-04-03 at 7 57 26 pm](https://cloud.githubusercontent.com/assets/1175004/2610638/5fc55850-bb8c-11e3-9fbb-3b8f83a94731.png)

![screen shot 2014-04-03 at 7 57 47 pm](https://cloud.githubusercontent.com/assets/1175004/2610637/5fc25b46-bb8c-11e3-91aa-326a3c238778.png)

[2014-04-04 02:35] #84 closed, assigned to nobody

[2014-04-16 18:01] gureckis opened #85 "randomization in the stroop example broken"
the shuffle() function from the stroop example appear to not be working.

[2014-04-16 18:20] #85 closed, assigned to nobody

[2014-04-16 22:45] gureckis opened #86 "handling early withdraws"
currently if a user closes the browser mid-task we basically cause them to forfeit payment.  some IRBs may entitle people to partial payment in these cases.  Might be good to instead allow people to submit HIT but allow user to give partial credit somehow?

[2014-04-17 19:03] #56 closed, assigned to nobody

[2014-04-17 19:09] #74 closed, assigned to nobody

[2014-04-17 19:09] #63 closed, assigned to nobody

[2014-04-21 20:45] jbmartin opened #87 "Fail gracefully on mode change using external server."
Getting the following error using an external server. Appears benign, but doesn't fail gracefully.

[code]

[2014-04-22 21:30] #82 closed, assigned to nobody

[2014-04-23 02:17] #87 closed, assigned to nobody

[2014-04-23 06:08] gureckis opened #88 "database "status" codes are really not human readable"
human readable data structures prevent bugs in analysis.  we should make the data structure easy to read whenever possible e.g., using strings instead of arbitrary numbers/codes.

[2014-04-23 06:10] gureckis opened #89 "more helpful error messages"
when something goes wrong for a worker, they get a messages like "Sorry, error #1005".   Neither the experimenter nor the worker can make sense of this.  One proposal is to document the error codes in the docs website and provide direct links from the error pages to the docs so easy to figure out what it all means.  Currently, when there's an error I have to login to github find experiment_errors.

[2014-04-23 06:12] gureckis opened #90 "option to allow repeats"
currently psiturk defaults to database-level blocking of workers such that a worker who appears in the database can't take the task again.  in some cases this is not desired behavior.  we should create a config option 'allow_repeat' which toggles this.  also, might be good to allow option 'always_show_instructions' because sometimes if a worker has already done a task once they don't need to read

[2014-04-26 22:10] #71 closed, assigned to nobody

[2014-04-28 15:17] #7 closed, assigned to nobody

[2014-04-29 14:26] annacoenen opened #91 "Add a 'server kill' option in command line tool?"
Not sure if it's possible, given that it will often require root access, but I could imagine this would be helpful for people who don't know how to kill a process themselves. I do quite frequently get the yellow 'unknown' server status. Or maybe there's another solution?

[2014-05-07 16:56] annacoenen opened #92 "Consolidate status codes"
There are some older categories in the list of status codes (credited, as well as the difference between completed and submitted), which have lost meaning in the current version of psiturk, so we may want to consolidate this list at some point.

[2014-05-12 01:38] jbmartin opened #93 "Refactor sandbox config"
Consider refactoring [sandbox_bool](https://github.com/NYUCCL/psiTurk/blob/4bbe3e7ce2105fdf26d48a12caf0ae915af1aa17/psiturk/experiment.py#L53): It's difficult to understand, unit test, and reuse.

A better approach would be to pass around a config object. E.g., add `is_sandbox` to the `psiturk_config` module.  If we want to entertain the idea of people using external servers (i.e., not the default

[2014-05-12 03:01] jbmartin opened #94 "Provide custom_models.py example"
Example currently includes code for custom.py, but excludes code for custom_models.py. I'd personally like to see a custom_models example because [blueprints aren't supposed to deal with data access direclty](http://stackoverflow.com/questions/13058800/using-flask-sqlalchemy-in-blueprint-models-without-reference-to-the-app)~~, and are causing [context errors for me](http://stackoverflow.com/questi

[2014-05-12 04:09] jbmartin opened #95 "Add lab mode"
Several people have expressed interest in a lab mode. This can be done with the current version, but it's a little unpolished and non-obvious.

[2014-05-12 04:13] #31 closed, assigned to jbmartin

[2014-05-12 13:24] #68 closed, assigned to nobody

[2014-05-12 13:25] #4 closed, assigned to johnmcdonnell

[2014-05-16 23:15] gureckis opened #96 "readline issues"
the current version in PyPi is failing to install for some people on certain Mac OS X systems due to readline compilation error.  i saw that python-readline project has renamed itself gnureadline.  should we update the dependency to the gnureadline version?

[2014-05-17 00:18] gureckis opened #97 "mysql-python dependency"
currently we do not require mysql-python to install psiturk.  the reason is that mysql-python can be hard to install on some system (compilation errors are common).  however, if a user tries to use a mysql database psiturk will crash.  instead it should check if the library is installed and give a more helpful warning message that this feature has additional dependencies.

[2014-05-22 02:38] jbmartin opened #99 "Enable psiTurk access behind firewalls and wifi routers"
Currently, psiTurk doesn't work behind firewalls e.g., wifi routers.  A savvy user can configure port forwarding if they have physical access to the router, yet the average user lacks this ability and/or access. To get around this issue, we can use [reverse tunneling](http://en.wikipedia.org/wiki/Reverse_connection) to automatically punch holes in people's firewalls, similar to how Skype works. A

[2014-05-22 22:17] jbmartin opened #100 "Fix Travis build fail"
psiTurk isn't building on Travis because the config.txt file is missing after running `psiturk-setup-example` (see output below). Not sure what would've caused this. Has anyone made changes to psiTurk setup process?

[code]

[2014-05-25 17:48] jbmartin opened #101 "Automatically throttle worker recruitment"
Ideally, we could provide psiTurk with N, and it could automatically create HITs based on the user's bandwidth until N is reached.

[2014-05-29 03:02] #96 closed, assigned to nobody

[2014-05-29 03:03] #100 closed, assigned to nobody

[2014-05-29 13:44] #91 closed, assigned to nobody

[2014-05-29 13:46] #93 closed, assigned to nobody

[2014-05-29 14:03] #83 closed, assigned to nobody

[2014-06-03 15:10] #88 closed, assigned to nobody

[2014-06-03 19:25] jonberliner opened #102 "denied repeated access during sandbox debugging"
When I debug using hit create links in sandbox mode, I get an error saying that I've already participated in the study.
I can work around it by copying the experiment link, replacing workerid='none' with workerid= and then another random number, but that's not optimal (can't be a number that i've typed in before).
note that this is not for local debugging with "debug", but instead for linking out

[2014-06-05 03:32] #102 closed, assigned to nobody

[2014-06-05 03:48] #66 closed, assigned to nobody

[2014-06-07 19:22] jhamrick opened #103 "server log command does not work on systems without xterm"
The assumption currently is that if you're on linux, then you have xterm installed, but this isn't necessarily the case. Perhaps it could check whether xterm exists, and use it if it does, but otherwise just print it inline?

[2014-06-07 19:34] jhamrick opened #104 "Truncated ad action menu"
I am not sure if this is the correct place to report issues on psiturk.org itself, but in the dashboard, if you click on the action menu for an ad which is at the bottom of the list, it gets truncated:

![image](https://cloud.githubusercontent.com/assets/83444/3209617/aeedb10e-ee7a-11e3-82a5-d8c62fbbf02b.png)

[2014-06-07 19:46] jhamrick opened #105 "Merge print_config and reload_config"
Most of the other commands have subcommands -- like `server on/off/restart/etc` -- but there is no `config` command. Instead, there are `print_config` and `reload_config`. Interacting with the config might be a little cleaner if `print_config` and `reload_config` were merged into a `config` command, and made to be subcommands, so that you would do `config print` and `config reload`. This could pot

[2014-06-07 23:39] jhamrick opened #106 "Confirm exit from command line interface"
If you press Ctrl-C while in the command line interface, this will immediately quit the interface (and in doing so also kill the experiment server if it is running). This is bad if you are currently running subjects and hit Ctrl-C by mistake. Rather than quitting immediately, perhaps psiTurk could prompt the user for confirmation as to whether they really want to quit or not?

[2014-06-08 22:48] jhamrick opened #108 "Internal server error from ad server"
If a participant starts the experiment, and gets past the `psiTurk.finishInstructions()` part, and then tries to refresh the page, they'll see the expected error message about having already started the experiment. However, if they refresh the _mechanical turk_ page, they see an internal server error:

![image](https://cloud.githubusercontent.com/assets/83444/3212462/6325919e-ef5e-11e3-80b8-c8c457

[2014-06-09 00:40] NicolasEhrhardt opened #109 ".psiturkconfig location"
Currently the global config file location is only adapted for Openshift servers or dedicated servers. As a result Psiturk is likely to fail to find `~/.psiturkconfig` on shared servers where `~` is sometimes not accessible. Why not using an environment variable for the location of the global config file, falling back on `~` if not found?

[2014-07-14 15:40] jodeleeuw opened #116 "Including images in ad server pages"
In order to include an image on an ad hosted by the ad server, it appears that you need to specify a full path to the hosted image. While I understand why this is the case, it seems somewhat against the spirit of the PsiTurk model since I would need to host the image online on a server in order to use it, and the server would need to be SSL-enabled so that the image file could be loaded over https

[2014-07-16 15:44] #116 closed, assigned to nobody

[2014-07-17 14:27] sweetticket opened #117 "Dashboard doesn't pop up on server on"
How do I access the psiTurk dashboard? The only one I can access right now is the one via psiturk.org login. The dashboard doesn't pop up on server on...

[2014-07-17 14:46] #117 closed, assigned to nobody

[2014-07-17 17:14] sweetticket opened #118 "creating a HIT using host 0.0.0.0"
Hello,
I'm trying to create a hit by following the instructions in step 7 on http://psiturk.org/quick_start/
but when I change the host to 0.0.0.0 the server changes to 'unknown' and it doesn't let me create a hit properly. How can I fix this?

Thanks!

EDIT: fixed it, I forgot to change the port to 8080

[2014-07-17 17:16] #118 closed, assigned to nobody

[2014-07-17 17:24] sweetticket opened #119 "Experiment server unreachable"
Hello,

I followed the instructions here (step 7) http://psiturk.org/quick_start/ to create a hit. However, when I go to workersandbox.mturk.com and find my hit, it says "Experiment server unreachable". I'm using host 0.0.0.0 on port 8080. Any thoughts on what's wrong?

Thanks!

[2014-07-17 17:37] #119 closed, assigned to nobody

[2014-07-23 04:36] #99 closed, assigned to nobody

[2014-07-23 04:38] #73 closed, assigned to nobody

[2014-07-28 15:04] gureckis opened #120 "add more diagnostic debugging information when hit create fails"
the current messages are very unclear about what might have gone wrong.

[2014-07-29 20:34] pfeyz opened #121 "improve/allow https experiment workflow"
I needed to run psiTurk over https since our IRB dictates we'd use encryption.
- There are no options in the config to set up Gunicorn with ssl certificates for https.
- It seems like the ad server always directs users to the ip and port specified by the config `host` and `port` vars, or port 80 if it's running on OpenShift, always prefixed by http.Thus the ad server always sends workers to the ht

[2014-07-31 19:00] zywind opened #122 "extra info in server.log"
I think the following line
https://github.com/NYUCCL/psiTurk/blob/master/psiturk/experiment.py#L91

should be changed to app.logger.info to avoid extra info in server.log.

[2014-08-05 01:10] zywind opened #125 "Wrong variable name in experiment.py"
I found a bug in
https://github.com/NYUCCL/psiTurk/blob/master/psiturk/experiment.py#L103

The variable e there should be exception.

[2014-08-05 02:57] #125 closed, assigned to nobody

[2014-08-05 19:27] JSlote opened #126 "utf-8 in ad.html breaks experiment.py"
If the `page_html` variable contains unicode characters, `insert_ad()` fails with a `UnicodeDecodeError`. This can be fixed with `page_html = page_html.decode("utf-8")` as in [here](https://github.com/JSlote/psiTurk/blob/master/psiturk/experiment.py#L639).

I didn't submit a pull request because I'm not sure this is the best place to make the change. How can I help?

[2014-08-06 16:55] #94 closed, assigned to nobody

[2014-08-06 17:03] #126 closed, assigned to nobody

[2014-08-13 19:54] jonberliner opened #131 "hit list cannot print utf-8"
I posted a live hit and tried typing "hit list --active" to verify it went up alright.  When I did, I got the following error:

[code]

Solution:
in the MTurkHIT class in amt_services.py, replace `__repr__` with:

[code]

This feels pretty hacky, though, so don't know know if it's worth a pull request.

[2014-08-15 19:30] #122 closed, assigned to nobody

[2014-08-15 19:30] #109 closed, assigned to nobody

[2014-08-15 21:25] #108 closed, assigned to nobody

[2014-08-17 01:42] ebuz opened #132 "Creating database fails for postgreSQL 9.1"
Database table creation fails for postgreSQL. The problem is from specifying a size for the `datastring` column in the participant model. Text column length is optional for MySQL and SQLite databases but postgreSQL doesn't use (or apparently accept) a length specification. I can initiate a pull request with the fix.

Upshot: Fixes the problem for postgreSQL though I have not looked into how it cha

[2014-08-18 22:40] JSlote opened #133 "There shouldn't be synchronous 'ajax' in psiturk.js"
Reasons for making the change:
- Synchronous ajax requests in the main thread are considered bad practice (e.g. [here](http://programmers.stackexchange.com/questions/112551/should-we-still-consider-a-synced-xmlhttprequest-bad-practice)). They're even [deprecated](https://developer.mozilla.org/en-US/Firefox/Releases/30/Site_Compatibility) in recent versions of Firefox.
- There's a bug in Firefox's

[2014-08-19 15:37] #132 closed, assigned to nobody

[2014-08-19 16:07] #106 closed, assigned to nobody

[2014-08-19 16:54] #105 closed, assigned to nobody

[2014-08-19 17:32] #97 closed, assigned to nobody

[2014-08-20 19:28] JSlote opened #137 "HIT Duration < 1 hr?"
It would be great to have a way to specify hit duration in hours:minutes rather than just hours. I'll get on this and hopefully submit a pull request today or tomorrow.

[2014-08-27 04:50] sweetticket opened #140 "Downloading datafiles on OpenShift?"
Hello,

I'm using OpenShift to host my HIT. How do I download database files / view data using OpenShift? The download_datafiles command does nothing.. I'm also using SqLite.

Thank you!

[2014-08-27 13:25] #137 closed, assigned to nobody

[2014-08-28 18:55] #140 closed, assigned to nobody

[2014-08-28 18:57] sweetticket opened #141 "Cannot create HIT in live mode"
I am able to create HITs in sandbox mode but when I try to in live mode there is an error message:

"Sorry, there was an error creating hit and registering ad.
  Unable to create HIT on Amazon Mechanical Turk."

I'm using OpenShift.

[2014-08-29 15:38] #141 closed, assigned to nobody

[2014-08-29 15:39] sweetticket opened #142 "Error message at end of experiment"
I'm always getting this error message every time a participant finishes the experiment. However, I think all of my data is still being saved on MySQL (I checked via phpMyAdmin). I'm using OpenShift with MySQL.

Traceback (most recent call last):
  File "/var/lib/openshift/53d9c3855973ca578a0003ee/python/virtenv/lib/python2.7/site-packages/flask/app.py", line 1817, in wsgi_app
    response = self.f

[2014-09-06 16:11] sweetticket opened #143 "Allow participants to do experiment more than once"
I want to allow my participants to do the experiment more than once. How can I make this happen?

Thanks.

[2014-09-06 16:37] #143 closed, assigned to nobody

[2014-09-09 01:31] gureckis opened #144 "create "migration guide" for updating projects from pre-2.1.1 to 2.2.0 (forthcoming)"
new database schema, changes to psiturk.js might need explanations

[2014-09-09 14:33] jodeleeuw opened #145 "psiturk object in javascript is extension of the Window object"
We were debugging an experiment today, and I noticed that in psiturk.js, the object that gets returned from calling `var psiturk = PsiTurk( .. , .. , .. )` is a copy of the Window object, with the additional properties created in the psiturk.js file, like `getTrialData()`.

I'm not sure if this is an intentional decision, so it may not even be an issue.

One way to get a cleaner scope on the objec

[2014-09-12 19:26] suchow opened #146 "Typo in second line of "no config.txt file" error"
[code]

("use" --> "sure")

[2014-09-12 19:31] #145 closed, assigned to nobody

[2014-09-17 19:06] sweetticket opened #147 "2.1.1 on OpenShift?"
Is there a way to install version 2.1.1 on Openshift? All I have is this link from the 2.0 docs: git+git://github.com/NYUCCL/psiTurk.git@dev

EDIT:
Nevermind, I got it. but I have a new issue now. I just upgraded from 2.0.1 to 2.1.1 on OpenShift and now it gives me this error every time I try to turn on the server. Is there a way I downgrade to 2.0.1?

Traceback (most recent call last):
  File "/v

[2014-09-17 21:40] #146 closed, assigned to nobody

[2014-09-23 17:30] hallez opened #148 "New location for get-pip.py file"
Website listed on readthedocs.org returns a 404. Instead, need to use https://raw.githubusercontent.com/pypa/pip/develop/contrib/get-pip.py.

[2014-09-25 02:36] #148 closed, assigned to nobody

[2014-09-25 02:39] #147 closed, assigned to nobody

[2014-11-14 16:08] bisraelsen opened #155 "Directions for setting up Openshift no longer valid"
The documentation for setting up psiturk on Openshift seem to be out of date.

These directions: [Old Documents readthedocs](http://psiturk.readthedocs.org/en/latest/install.html#installation-steps)
seem to be the same as: [Old Document on github](https://github.com/jbmartin/psiturk-on-openshift)

Which says it is deprecated and to look to this project instead.

I presume these are the most up-to-

[2014-12-05 16:51] jpater opened #157 "gnureadline issue"
I've freshly installed psiturk using pip, and I'm having a problem that seems related to gnureadline (see below). I tried reinstalling gnureadline and that didn't help. Any help would be appreciated!

pc23:~ joe-home$ psiturk-setup-example
Traceback (most recent call last):
  File "/usr/local/bin/psiturk-setup-example", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/Sy

[2014-12-06 19:04] #157 closed, assigned to nobody

[2015-01-08 08:25] twiecki opened #162 "Feature request: Docker container image"
Great project. As a suggestion, I think you guys should look into Docker as a psiTurk in a box. This will make deployment totally trivial. You can also set up docker hub to rebuild the image for every push to master.

[2015-01-09 20:06] jhamrick commented on #162
:+1: to this! I'm happy to take this on, though I probably won't have time until February or so.

[2015-01-09 20:10] twiecki commented on #162
I think this should serve as a good inspiration: https://github.com/jupyter/jupyterhub/blob/master/Dockerfile Copies the user-file and starts the server when the container is started.

[2015-01-09 20:13] jhamrick commented on #162
Yeah, something like that is where I was thinking of starting from (I've been working with some of the jupyterhub docker stuff recently for a class I'm running this spring).

[2015-01-21 03:46] zorro4 commented on #155
I looked into this and it looks like the problem is that some systems have very restrictive security and don't allow the inspection of processes. Looks like OpenShift is now one of them. However, unless I'm mistaken, the current get_connections() line in experiment_server_controller.py is unnecessary, as the only test that depends on it checks if there are any processes matching psiturk, not anyth

[2015-02-01 14:29] mmitsui opened #164 "Cannot run demos with "psiturk" command"
Encountered the following error after running "psiturk" in the directory of any of the demo projects including the [quick start demo](https://psiturk.org/quick_start/).

    File "/Library/Frameworks/Python.framework/Versions/2.7/bin/psiturk", line 8, in <module>
        load_entry_point('PsiTurk==2.1.1', 'console_scripts', 'psiturk')()

    File "/Library/Frameworks/Python.framework/Versions/2.7/

[2015-02-01 14:34] #164 closed

[2015-02-05 18:32] grbritz opened #165 "hit creation example has invalid syntax"
In the documentation on hit create, it shows setting time limit of 1:30, but when trying to create a new hit with that time, the error "*** durations must be a whole number" is shown.
![screen shot 2015-02-05 at 10 31 24 am](https://cloud.githubusercontent.com/assets/1458268/6066481/282fe24c-ad22-11e4-8303-5dbaefa97ef2.png)

[2015-02-07 15:44] braingineer opened #166 "Permissions not being set up correctly"
I wanted to post both so you will know about it and in case anyone else gets it.

Fresh psiturk install.   The permissions are set up in a way that things don't have the read bit set and I can't do anything.  See errors below.  I found the following worked:
$ sudo find /usr/local/lib/python2.7/dist-packages/PsiTurk-2.1.1-py2.7.egg/ -type f -exec chmod 644 {} +

Cheers,
Brian

System info:
$ cat /e

[2015-02-15 19:19] gureckis commented on #165
Sorry, we have a slight problem where the docs website pulls from the dev branch (so new docs release quickly) but most people might be using master.  In dev this syntax works, in master, durations must be a whole number (e.g., "1"() and you can't have fractions of hours.

[2015-02-15 19:19] #165 closed

[2015-02-15 19:25] gureckis commented on #166
I'm not sure but psiTurk doesn't include any particular settings for the permissions on install and I'm not aware of that being available within setuptools.  We just use the standard approach for installing python eggs.  More likely this is set by your local system config.    One possibility is that your version of LinuxMint sets the umask in a odd or restrictive way.  See `http://stackoverflow.co

[2015-02-15 19:25] #166 closed

[2015-02-15 19:25] gureckis commented on #162
:+1:, i'm all for this.

[2015-02-16 02:20] korymath commented on #146
This is still looking like an issue? Is a pull request needed?

[2015-02-16 03:29] korymath commented on #155
Thank you for the heads up and great error reporting on this, but I attempted to upgrade with your pull req... or pip install git+https://github.com/zorro4/psiTurk.git --upgrade and now I am getting a new error.

[psiTurk server:status unknown mode:sdbx #HITs:0]$ server on
Error: Not sure what to tell you...

[2015-02-16 05:53] gureckis commented on #146
@korymath no, the change has been made to dev.  is there another typo?

[2015-02-17 04:09] alexanderrich opened #167 "create unified python API"
In the long run, it would be great to have a unified python API for psiturk. Currently a non-negligible amount of important programming logic occurs in the psiturk_shell class, which is unfortunate (and largely my own fault!) because these functions can be tough to call from another python module. Moving as much logic as possible out of the shell methods and creating an API which could be used for

[2015-02-17 04:36] gureckis commented on #167
yeah, abstracting this stuff somewhat would help move back to the GUI dashboard feature which we paused while we worked out basic functionality.

[2015-02-18 18:36] RoyalTS opened #168 "psiturk 2.1.1 on pip not identical to master"
Various places in the current master branch (e.g. psiturk/version.py and the README) claim that the psiturk version in that branch is 2.1.1. However, what's in master is not identical to the version 2.1.1. one gets when installing via pip. I just ran into [this old bug](https://github.com/NYUCCL/psiTurk/commit/435e3c4d5c435565fed0cd729a3daa978304636a) that was fixed in master months ago. Perhaps y

[2015-02-18 23:56] gureckis commented on #168
oh, good point, I was in the habit of updating pip when there is a major update, but these small patches don't trigger a change.  will update pip for now manually and see if we can set up some kind of automatic monitoring

[2015-02-19 11:56] RoyalTS commented on #168
Sounds good! This sounds like it could be helpful: http://docs.travis-ci.com/user/deployment/pypi/

[2015-02-24 00:05] RoyalTS commented on #92
Can I ask what status codes are still in active use and need to be set to get psiturk to do certain things? I'm trying to fit an existing experiment written as a Flask app into psiturk (see https://groups.google.com/forum/#!topic/psiturk/c72JbURRAWM) and am having a hard time figuring out what all of these status codes do and how to set them.

Are the /complete, /worker_complete and /worker_submit

[2015-03-05 08:36] gureckis commented on #168
I bumped version number to 2.1.2 to include some recent minor fixes and uploaded to pypi.  Didn't establish the automatic monitoring, but will try to stay on top of this.  One solution is to only allow incoming pull requests to go to dev so that dev matures and is infrequently updated to master (along with a pip deployment).

[2015-03-05 08:36] #168 closed

[2015-03-11 00:24] john-guerra opened #173 "Problems with readline"
Hi I'm trying to run the example using psiturk but I'm getting this error:

[code]

I have installed the gnureadline package, but it seems like for some reason psiturk is still getting the libedit version. Is this a bug?

[2015-03-11 00:33] john-guerra commented on #173
Changing line 21 of

[code]

from

[code]

to

[code]

fixed the problem

[2015-03-11 04:24] gureckis commented on #173
Sorry, what are the differences between these two lines?

[2015-03-11 13:53] RoyalTS opened #174 "psiturk exits even when told not to"
With a server running, if I give psiturk the `exit` command I get the

    Quitting shell will shut down experiment server. Really quit? y or n:

prompt. As I've just discovered psiturk will shut down irrespective of whether I then type in `y` or `n`. Looking at the code that handles this it's not immediately obvious to me why it would do that, but at least on my machine it does.

[2015-03-11 17:33] john-guerra commented on #173
Ups, my bad, I corrected my comment so people don't get confused

[2015-03-12 07:08] gureckis commented on #174
I think I fixed this is the dev branch... https://github.com/NYUCCL/psiTurk/commit/c4c4958dc326e53ea3b1ac4421c92279ed541eb2

[2015-03-12 09:41] RoyalTS commented on #174
Ah, yes, that fixes it. Thanks!

[2015-03-12 09:41] #174 closed

[2015-03-12 15:11] agardony opened #175 "psiTurk and IRBs"
Institutional Review Boards (IRBs) may consider turk workerIDs personally identifiable information (PII). Recently, it has been revealed that in many cases googling a workerID can lead to that turk worker’s public profile page which can include personal information, such as amazon wish lists.

See this article
http://www.theverge.com/2013/3/7/4075810/amazon-mechanical-turk-users-study-finds-half-h

[2015-03-12 18:38] tobiasgerstenberg opened #176 "Feature request: Send message about reason for rejection"
It would be great if the interface allowed me to send a message to an individual worker (or to several workers) with a reason for rejecting their work. For example, I sometimes reject workers who completed the task unreasonably fast (< 1 minutes when the median is > 10 minutes).

[2015-03-12 21:17] brendantcd commented on #173
Thanks for figuring this out.

[2015-03-17 06:05] MrTomWhite commented on #175
:+1:
This is a super important consideration, especially for research institutions.

@RocChi tried something really interesting in this space: https://github.com/RocHCI/mturk-consent

[2015-03-18 17:43] john-guerra opened #177 "download_datafiles fails when data is None"
[code]

This fails because ```self.datastring``` is None

[2015-03-18 22:51] john-guerra commented on #177
It seems like this #177 has already been fixed in the dev branch. Closing it

[2015-03-18 22:51] #177 closed

[2015-03-18 23:59] gureckis commented on #175
Thanks for brining up this issue.  I've been thinking a bit about this.  However, I'm not sure how you can block the same worker from doing an experiment twice without recording the workerID with the data.   To make this clear, I'll give an example from how psiTurk actually works...

So, if a worker accepts a task on psiTurk they might read through the instructions.  At this point they could retur

[2015-03-26 13:29] agardony commented on #175
I think modifying the download_data_files command would be the easiest way to address this issue. My lab was able to get IRB approval for our psiturk-based study after I wrote a script that downloaded the data paired to assignment ID instead of worker ID.

Since this data file is the one that would be passed around the lab for analysis it is good that it doesn't have any PII (worker IDs). Worker I

[2015-04-23 18:02] ebigelow commented on #176
I agree, this would be very useful -- workers don't like being rejected without being given a reason.

[2015-04-28 01:09] suchow opened #180 "Contribute features from Wallace back into psiTurk"
In the process of creating Wallace, an experimental platform for simulating cultural evolution online, we've made a number of improvements and extensions to psiTurk. I've opened this issue to start a conversation about what you'd be interested in us contributing back to psiTurk proper.

Here's what we've done:
- [ ] Make it possible to run psiTurk on Heroku
- [x] Improve install speed by installin

[2015-04-28 02:00] jhamrick commented on #180
I think the second is already done in #158.

[2015-04-28 05:19] twiecki commented on #180
Heroku definitely would make deployment easier.

[2015-04-30 23:53] gureckis commented on #180
This all sounds pretty awesome.  I think any/all of these could hit be good pull requests.  One question thought: why is Heroku easier than say OpenShift or AWS?

[2015-05-05 08:33] twiecki commented on #162
Here's a humble beginning:

[code]

Should change this to not run as root but it seems to work. To build:
`docker build -t psiturk .`
To run:
`docker run -p 22362:22362 -it psiturk`

[2015-05-05 08:36] twiecki commented on #162
I think psiturk could easily just use the installation and then users could easily inherit from an image on dockerhub.

[2015-05-07 07:01] twiecki opened #182 "Description/example of how to run python experiment"
A little while ago there was a thread on the mailing list describing a server-side-heavy paradigm for psiturk that's mostly flask with only very simple js client code. It would be great to get an example or tutorial of that!

[2015-05-11 15:49] ebbinghaus commented on #182
There is an example of doing this posted on the psiturk experiment exchange as "neurosemantic features":

http://psiturk.org/ee/

The js code makes a call to custom.py which queries a database, does some simple counting, and returns a JSON object for stimulus display.

[2015-05-12 01:05] suchow commented on #180
Okay, that pull request has everything except for Heroku support, which I'll do separately — I may need to work on it a bit to make it automatically detect if you're on Heroku and run that code conditionally.

[2015-05-17 06:13] bernuly commented on #147
Just installed psiturk on openshift following the instructions on http://psiturk.readthedocs.org/en/latest/openshift.html
and get very similar error messages:
Traceback (most recent call last):
  File "/var/lib/openshift/5558239d4382eca5830000a9/python/virtenv/lib/python2.7/site-packages/cmd2.py", line 789, in onecmd_plus_hooks
    stop = self.postcmd(stop, statement)
  File "/var/lib/openshift/55

[2015-05-17 21:24] bernuly commented on #147
problem seems to be that Process.get_connections() requires root...

[2015-05-19 22:46] jhamrick commented on #162
Yeah, I spent a bit of time thinking about the way to do this and there are sort of two options:

1. Have a general-purpose psiTurk image that has a `psiturk` entrypoint, and when it is run, require the user to mount the current directory inside the container and then run with that.
2. Build the image with the intent that it will be inherited from. You could do `ONBUILD ADD` instead of `ADD` so th

[2015-05-21 06:01] twiecki commented on #162
Good ideas! I feel a bit that number 1 goes against the philosophy of `docker` as the image would not be independent of the environment anymore. I think the `ONBUILD ADD` is a pretty nice interface. It works well for e.g. `JupyterHub`.

[2015-06-01 20:55] laxminair commented on #173
How did you modify the file? Even when I manage to edit the file (C-x C-q on emacs) I can't save it. How did you over write the permissions?

[2015-06-02 14:44] john-guerra commented on #173
You have to do it with the user root

$ sudo emacs filename

Should do the trick (If you have sudo permissions) or

$ su
(root password)
Then
# emacs filename

John

On Mon, Jun 1, 2015, 1:55 PM laxminair <notifications@github.com> wrote:

[2015-06-12 21:26] alexanderrich commented on #176
I just pushed some small changes that would let users input a message when approving or rejecting workers, much like bonusing works now. It occurred to me that this should be optional though, as some people might not want to send a message for all assignments. Here's the question though: should adding a message be the default, with a flag like "--nomessage" if you don't want to add one, or should

[2015-06-12 21:37] tobiasgerstenberg commented on #176
thanks for the change! personally, i would always like to tell participants on what grounds i decided to reject their HIT. so for me, it would make sense to have "adding a message" be the default. but i wouldn't mind if the default was the other way around.

[2015-06-13 03:04] ebigelow commented on #176
Great, thanks Alex! Like Tobias, I'd think giving a reason would make sense to be the default (>50% of the people I rejected without giving a reason contacted me), though either way would be fine. Adding a flag isn't much trouble -- especially if there is a shortened flag available like "-m".

[2015-06-19 22:16] infiniteline opened #184 "worker assignmentID is not unique?"
Hey all,

  I just ran a small experiment and noticed that two workers had an identical value in the assignmentID field. This is a problem when trying to reject workers as you have to use the assignmentID to reject. In my case, one worker did not complete the experiment while the other did. I'm assuming that assignmentID is supposed to be unique?

[2015-06-22 00:03] pfeyz commented on #175
A possible technical solution to hiding the workerId from the psiTurk db while allowing it to check for duplicate participants is to store salted hashes of the workerID instead of the workerID itself.

If anybody's not familiar with hashing, a good hash function is in theory a one-way function, so there's no easy way to go from the hashed string, f(s), back to the string it was generated from, s,

[2015-06-23 16:10] gureckis opened #186 "Building an alternative to AMT?"
There is a new interest in alternative recruitment methods besides Amazon Mechanical Turk in response to the changing prices (https://requester.mturk.com/pricing).  This has been a possible area of development for some time (e.g., Issue #95).

I wanted to open this issue to allow some discussion about this.

To kick things off here is one idea:

Extend psiturk.org to provide a dynamic listing of c

[2015-06-23 16:34] twiecki commented on #186
Wow, they are going to charge 40% commission?!

[2015-06-23 16:52] alexanderrich commented on #186
the github page for the folks at Stanford working on a crowdsourcing platform is here: https://github.com/crowdresearch/crowdsource-platform

worth taking a look at for ideas and potential collaboration!

[2015-06-23 17:19] jodeleeuw commented on #186
I think it would wise to design the site to be agnostic about the platform for running experiments. The integration scenario @gureckis described between psiturk and the server would be great, and I think it should be supported via an API that could be tapped into with other methods as well. This encourages a broader user base, which is probably the single most important factor for building a succe

[2015-06-23 17:37] their commented on #186
Mturkclone.com domain name is available. BTW AMT requester Operations are: http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_OperationsArticle.html. Could individual HITs tasks? RESTful implementation of the API: http://their.github.io/amt-js-operations/example.html.

gurekis: "1. You launch your web application and it automatically connects to the centralized “tracker” server

[2015-06-23 17:45] jodeleeuw commented on #186
I don't see the need to mimic some of the more "expensive" features of mturk, like providing templates or CSV data integration, because (1) the target audience is researchers who are hosting experiments on their own servers and (2) psiturk experiment exchange and other similar tools already provide a mechanism for templates that can be modified. In terms of features, I think it would be wise to fo

[2015-06-23 18:30] their commented on #186
@jodeleeuw Just a guess but it feels like a lot of workers participate in academic surveys on AMT because AMT has additional income sources available that brought workers to the site in the first place. We have been hesitant to join other crowd labor sites that are less broad than AMT. Offering other types of work (an open marketplace) in addition to acadamia would greatly enhance the number of wo

[2015-06-23 18:47] jodeleeuw commented on #186
@their Agreed. There's a trade-off between tailoring the site to an academic audience and attracting as many users as possible.

I think the trouble with mturk for a lot of researcher-types is that we don't use most of the features that they provide--templates/GUI for task building is a significant one--and the feature that we really want, frictionless integration with externally hosted experiment

[2015-06-24 13:33] jodeleeuw commented on #186
### Feature Request List

#### Experiment management

* Can indicate experiment completion and experiment dropout with externally hosted tasks. I should be able to make an AJAX-y type call to a URL that marks completion, and ideally I should be able to do the same for a subject who decides to leave the experiment (the feasibility probably depends on how they choose to leave).
* Records indicate wh

[2015-06-24 13:43] kcarnold commented on #186
Excellent thoughts so far! There's probably a lot of synergy with the Stanford project -- here's a better link for their [objectives](http://crowdresearch.stanford.edu/w/index.php?title=Introducing_Crowd_Research_Initiative_and_Recap) and [overall project](http://crowdresearch.stanford.edu/w/index.php?title=Main_Page).

Also, someone from the Turk community recommended I check out https://prolific

[2015-06-24 18:55] spamgirl commented on #186
Be very clear, Amazon aggressively protects its trademarks, such as mTurk.

[2015-06-24 19:49] eamoncaddigan commented on #186
I'd love to see preregistration and open data tied into an online data collection platform. To do a study, you MUST state what effect you're expecting to find, and after completion (plus perhaps a brief embargo), the raw data will become available to all researchers. This would address many of the issues in replicability in research.

[2015-06-24 19:53] ghonk commented on #186
Our lab would certainly check this out/contribute were it to become a reality.

Overall, we second josh's suggestions. One concern we have (also addressed somewhat in Josh's posts) is the idea that it would be a psych-only venue. There is something nice about the fact that mturk has so many true "human intelligence tasks" (transcription, website testing, etc.) so that workers are not doing psych (

[2015-06-24 19:56] their commented on #186
@ghonk

In addition to a bank account they also *require* both a Social Security Number and phone number.

[2015-06-24 20:01] jodeleeuw commented on #186
I think the SSN is primarily for tax liability. This is an aspect of mturk that is really valuable to researchers: accounting is really simple. An alternative that changed the model to a peer-to-peer transaction would mean that there is potentially accounting that needs to happen within a lab.

[2015-06-24 20:06] Phelimb commented on #186
Just want to preface this by saying I'm the co-founder and developer behind https://prolificacademic.co.uk - thanks for the mention @kcarnold. Although I'm not intending to make a sales pitch (I understand the will to have a commercial-free platform) I will mention that we have the majority of features mentioned by @jodeleeuw with perhaps the exception of "set of tags for common experimental tasks

[2015-06-24 20:08] spamgirl commented on #186
What about international users who lack an SSN? I think it's
important to include both "workers" and researchers globally as AMT's
blocking of both has been a huge bone of contention in the past.

At 03:56 PM 06/24/2015, you wrote:

[2015-06-24 20:15] their commented on #186
important to include both "workers" and researchers globally as AMT's
blocking of both has been a huge bone of contention in the past.

Definitely! There needs to be a way to include and verify international workers as well. It could be that how the worker is verified is viewable by a "requester" and the requester is able to qualify workers based on that (in addition to country of origin). E.g. al

[2015-06-24 22:27] EconometricsBySimulation commented on #186
Since some kind of IRB consent page is required of so many projects, I think incorporating it directly into the system as something a user must click through in order to do a hit would be ideal. Incorporating TO style reviews sounds great. I think the idea of having many hit statistics available to workers is great.

I would appreciate a mechanism by which workers can revise submissions. I hate re

[2015-06-24 22:47] their commented on #186
@EconometricsBySimulation

Access to the content of submitted tasks is significant by itself. Allowing the worker to revise tasks is icing on the cake. This is definitely a major feature left out at AMT.

[2015-06-25 00:11] mbernst commented on #186
Excellent discussion. (Hi, I'm Michael Bernstein from Stanford CS, where we have a crowd of researchers around the world building a better, open crowdsourcing platform.)

Many flowers bloom. So I say: go for it! If you want, we'd love to collaborate if any of you want to join forces.

[2015-06-25 00:47] gureckis commented on #186
@mbernst I'm not sure if reinventing wheel is a good path or not (probably not!). I guess the question for me is what the best path would be for psychologists coming from the psiturk tradition (or related approaches) might interface and help what you've done already.  For example if there is an API for your system maybe we could just make psiturk interface with that as an option alongside AMT.  Th

[2015-06-25 14:57] gureckis commented on #186
A couple of quick thoughts...  There are a lot of really interesting feature ideas here but I am kind of just thinking in broad terms about a viable, entirely distributed, architecture.

But first,

1. I think encouraging some of the tech-savvy psychology folks to combine forced with things already underway such as @mbernst is a good idea.  There is some heavy lifting here and important problems t

[2015-06-25 18:00] jodeleeuw commented on #186
You could always provide two different ways to do this. One would be an AJAX call to a URL, the other would be a URL that participants manually click, sending them back to the tracker server page, that registers task completion (perhaps requiring them to authenticate their identity). A manual option on top of this would give people sufficient flexibility to set up many different platforms.

[2015-06-26 08:55] Portll commented on #186
Someone mentioned the IRB/consent issue. Here down under, we're finding
each PhD/study/etc requires it's own consent to be signed off by the
relevant board anyway, so duplicating consent across projects isn't
possible. Having said that, some kind of
Worker/Project/Lab/Deparment/University/Country hierarchcy might make sense
to enable this to clone across departments that do find this useful.

One

[2015-06-26 17:22] jacob-lee commented on #184
I have experienced this issue. Assignment IDs are not unique. AssignmentId/WorkerId pairs are unique if you do not allow a worker to return and then accept the same HIT. The assignment ID is provided by Amazon. It appears that if the assignment is returned or otherwise not completed, the assignment id is given to the next worker who accepts.

The psiturk command line tool only presents the complet

[2015-06-29 20:22] JSlote opened #188 "Experiment Exchange Descriptions don't render markdown"
Sorry if this is the wrong place to submit this issue--just an fyi that markdown isn't converted to HTML upon submission to the psiTurk Experiment Exchange.

[2015-06-29 23:21] infiniteline commented on #184
Thanks for the information, Jacob. Yes, I was looking through the database entries manually and trying to reject the ones that were not complete. I didn't think Mechanical Turk was going to make it *that* easy for me!  ;)    Thanks again for your response.

[2015-06-29 23:21] #184 closed

[2015-07-10 03:33] gureckis opened #189 "human or not? a proposal for a reCAPTCHA step on all psiturk.org ads"
I'm going to throw this idea out there...  add reCAPTCHA to all psiTurk ads after the worker accepts.  This way you can be more confident that the worker is not a bot.  While the instructions in most people's psiTurk tasks are sort of complex, it's still possible the certain psiTurk apps get exploited when they are open-sourced.  At the base level I can (maybe) easily add a reCAPTCHA step to every

[2015-07-10 07:19] twiecki commented on #189
That makes sense to me, and I don't think it would be irritating since captchas are pretty common. Is there evidence that this ever happened though? In any case, could always make it configurable.

[2015-07-10 12:29] jodeleeuw commented on #189
I like the idea of having this on as a default option, but with the ability to turn it off for whatever reason.

[2015-07-10 15:38] jbmartin commented on #189
+1

[2015-07-10 15:51] JSlote commented on #189
I agree with Josh; an example of a time where one might wish to override it is
the experiment I currently have listed on the experiment exchange: a spoken word
recognition task that uses an audio-only reCaptcha to verify the user's hearing
ability.

On Fri, Jul 10, 2015 at 9:38 AM, Jay B. Martin < notifications@github.com [notifications@github.com] > wrote:
+1

—
Reply to this email directly or vi

[2015-07-16 02:28] jacob-lee opened #190 "Bonus Fails"
It occasionally happens that a worker finishes a psiturk task, but fails to "complete" the HIT. Then another worker will take up the assignment and complete the HIT. The result is that there will be two records in the database with the same assignment ID, but with different worker IDs. In this case, attempts to bonus the second worker may fail, although they were successfully approved.

It looks l

[2015-07-16 04:01] gureckis commented on #186
So this discussion has been lingering in my head but I'm not quite sure what to do with it.   Instead of proposing market features (like IRB issues), I wanted to maybe back up and think about the core technology stack and really fundamental problems regarding online work that noone seems to be working on.  Perhaps the open-source community could focus somewhat on these smaller pieces which can the

[2015-07-16 21:39] ayman commented on #173
While this is a fair work around, it causes me an issue running python27 installed via MacPorts.  Specifically, the prompt fails to print color codes correctly:

```[[1mpsiTurk[0m server:[91moff[0m mode:[1msdbx[0m #HITs:0]$```

Which seems to be related to ```cmd2.py``` where at line 906 we find:

[code]

if I edit the import here to read ```import gnureadline as readline``` then the color prompt

[2015-07-27 15:04] jacob-lee opened #191 "tunnel error with /Users/jaymartin"
Occasionally I am getting a runtime error using psiturk's tunneling service in the command line tool. I do not know what initiates the error. Here is a portion of the run-time error (it grows indefinitely). Curiously, if I type in another command, e.g. by pressing the up arrow key to use the last command, the error is no longer printed to screen.

I assume that something was hard coded into the so

[2015-07-28 16:03] gureckis opened #193 "dealing with pull requests (dev, master)"
Hi all,

When we set psiTurk up on Github it was recommended that we make the `master` branch sync with pypi and use `dev` for ongoing development.  I propose flipping this starting tomorrow:  `master` will be the new `dev` branch. This is helpful since github by default targets pull requests to `master`.  Almost every pull request we get goes to `master` and then either the requester has to recre

[2015-07-28 16:41] jhamrick commented on #193
:+1: on this. I think the workflow where `master` is actually the development branch is much easier for newcomers and people with experience alike. Having different branches for each release also makes it much more convenient (in my opinion) for doing things like backporting bugfix PRs -- that way a fix can go into master, but also onto a release branch. This is how IPython does it, e.g., IPython

[2015-08-19 22:08] jkhartshorne opened #195 "Documentation bug"
The stroop documentation is missing a few sections and ends in the middle of a sentence:

http://psiturk.readthedocs.org/en/latest/stroop.html

This makes it slightly less useful than it might otherwise be:)

[2015-08-20 22:02] mshvartsman commented on #180
+1 for sub-1hr HITs. I think this makes it clearer to worker that the task we give them shouldn't take very long (and therefore is worth doing for the relatively small amount of $ we pay).

I implemented one way of doing this in https://github.com/mshvartsman/psiTurk/tree/180-sub-hour-tasks. Integers passed in still get read as hours, but `hours:minutes` gets parsed.

Should I submit a pull reques

[2015-08-25 15:07] alexanderrich opened #196 "fee estimate incorrect"
when you create a hit with psiTurk, it reports a fee that is 10% of the cost of the HIT. This should be updated to match mturk's new fee structure.

[2015-08-25 15:13] gureckis commented on #196
see https://github.com/NYUCCL/psiTurk/pull/194

[2015-08-25 15:13] #196 closed

[2015-09-11 00:23] mshvartsman commented on #190
Confirming that I just ran into this as well.

[2015-09-14 18:35] annacoenen opened #197 "multiple processes on same server by different users"
Currently "is_server_running" in experiment_server_controller.py checks for all current psiturk processes (including by other users and other ports), and so only one person at a time can run psiturk off the same server. Can we somehow filter processes uniquely by users in that function?

[2015-09-16 14:58] lindauer commented on #90
I tried to make this change (at least in a hacky hard-coded way) last night and my changes seemed to have no effect. Upon further investigation, it seems like the blocking might be occurring via a copy of experiment.py on the ad server, rather than the local one that I am changing. Is that an accurate assessment? If so, is there a way to bypass the ad server or otherwise test a change like this?

[2015-09-16 23:11] braingineer commented on #162
Hi all,

I've about to begin rolling out some experiments using Docker & Psiturk.  I think I've done (1) that @jhamrick suggested and that @twiecki advised possibly not doing.  I found the solution below pretty easy, but would you recommend a better way?

3 things below:
1. a note on a change to the config.txt that baffled me for a while
2. the Dockerfile I'm currently using
3. the bash script I u

[2015-09-16 23:18] braingineer commented on #162
Though, I am currently doing it this way (`-v $(pwd)/foo:/experiment` to share a folder between container and hard drive) because saving data is much simpler.  It saves to the sqlite database, and the diskspace is synced with the mounted folder in the docker container.

I have been thinking about spawning a mysql container and linking them so that each running experiment can use that instead.  But

[2015-09-24 21:34] lindauer commented on #70
An alternative to creating a new type of ID is the git approach of allowing you to use any unique prefix of the full ID.

[2015-10-22 20:17] dbirman commented on #191
I also got this error today--it crashed my server from the participant's point of view even though the server on my end just continued with no other errors.

[2015-10-22 21:42] dbirman commented on #191
Just occurred again--not sure if it crashed things for participants. Here is the full error:

[code]

[2015-10-23 19:01] dbirman commented on #191
@jacob-lee Were you able to resolve this issue?

@gureckis Any idea what's happening here?

[2015-10-23 20:34] jacob-lee commented on #191
No, I am unable to resolve this issue. I think that the module being called
is a pre-compiled binary. The occurrence is sporadic.

On Fri, Oct 23, 2015 at 3:01 PM, Dan Birman <notifications@github.com>
wrote:

[2015-10-23 20:36] dbirman commented on #191
I've been debugging this all day and I think it may be related to the tunnel expiring after a certain length of time. Is your task particularly long?

[2015-10-23 20:44] jacob-lee commented on #191
That would make sense in my experience

On Oct 23, 2015, at 4:36 PM, Dan Birman <notifications@github.com> wrote:

[2015-10-23 21:38] dbirman opened #199 "recordUnstructuredData Doesn't Override Existing Data"
I'm trying to set up my task to record an unstructured xml object after every block to avoid potential data loss. But repeated calls to recordUnstructuredData do not appear to overwrite the existing object. I looked through the code and I can't figure out why this wouldn't be the case. My data objects are fairly large so I don't want to save multiple copies, any idea why the xml field isn't being

[2015-10-26 19:28] suchow opened #200 "Roadmap for allowing public psiTurk signups?"
Hi all — we've built [Wallace](https://github.com/suchow/Wallace), a platform for experimentation on cultural evolution etc. on top of psiTurk. We've started to show Wallace to some collaborators, who have been unable to get started because they can't signup for a psiTurk account. It used to be that requesting an invite was a formality, immediately sending an invite. But not any more. This is worr

[2015-10-27 03:49] gureckis commented on #200
sorry i increased the number allowed to 750 today… the original limit was 500 out of concern the system might not scale well under heavy load
however, so far it’s been ok (knock on wood)

so, everyone should be ok.  if you signed up and didn’t get the confirmation email let me know and i’ll reset your account name so you can sign up again.

[2015-10-27 03:55] suchow commented on #200
great thanks!

--
Jordan Suchow
http://suchow.io

[2015-10-28 03:37] gureckis commented on #191
@jbmartin was the main architect of the tunnel and he hasn’t been as active with the project lately
(we still basically consider it a “beta” feature).

i do believe there is some type of compiled binary that he made which is distributed in the psiturk
egg.  this is where the references to his username maybe coming from on your command line.

it is possible there is a time out on the tunnel server

[2015-10-28 03:38] #200 closed

[2015-10-28 03:42] gureckis commented on #199
by default psiturk.js already re-saves all your data on each saveData() call.
the concept is that you use recordUnstructuredData() or recordTrialData() to save a single
trial or line to your file.  (more like a push-down stack which is synchronized to the server
each time saveData() is called).

so basically we were already doing for you what you are trying here.
i guess you can look at psiturk.js

[2015-10-28 05:22] dbirman commented on #199
Okay yeah I think that the way we're saving data has to override the functionality then. Thanks for explaining this!

[2015-10-28 05:22] #199 closed

[2015-10-29 21:34] dbirman commented on #191
Thanks for the response-- After much testing I've figured out this is related to the size of your data objects. We were sending an object that was growing with time and was getting into the multiple MB range after thirty minutes, and removing that data from our save data calls solved the problem for us. Maybe you can add a note to the wiki mentioning that this problem exists?

[2015-11-03 18:46] braingineer commented on #70
Another option is to use docker's approach and have two randomly selected words name the HIT.  You can use that name to do things with the running image.

The code for the random generation is here:

https://github.com/docker/docker/blob/master/pkg/namesgenerator/names-generator.go

How difficult would this feature be?  I wouldn't mind adding it in if it's just a matter of someone doing it.

[2015-11-04 14:14] gureckis commented on #70
i think have recoding is fine and wouldn't be very difficult to do.  you just have to dig into the command line functions.   one issues is getting the references to remain stable across launches of psiturk (or even across machines?).  for example if you run some hits and do ``hit list active`` then you'll see these short-hand recoded HITids.  However, if you restart psiturk how do you ensure the s

[2015-11-25 01:25] bordot opened #201 "Not receiving registration email confirmation"
Hello,

I registered for a Psiturk account today and was provided an invitation code at registration. Unfortunately, I did not receive a confirmation code in my email (nor spam folder) and therefore have been unable to log into my account so far. Any help would be appreciated.

[2015-12-04 18:12] ghost opened #202 "Haven't received psiturk invitation"
I requested an invitation a few days ago, and haven't yet received one. I've checked, and there's nothing in my spam folders. How long does it usually take to get an account? Thanks!

[2015-12-14 18:02] gureckis commented on #193
master is now 'dev'.  dev will be retired soon.  we will use branches to track numbered releases which are distributed via pypi.  this should speed up the rate at which new patches are merged into the project.

[2015-12-14 18:02] #193 closed

[2016-02-01 00:41] agardony opened #203 "worker list returning limited list, affecting bonuses"
I recently ran a HIT in which I was bonusing participants en masse. The n of the study is 119 now but when I run:

worker list --hit [HITID]

it only returns the first 100 workers. I tested this with some old 100+ participated HITs we had and noticed the same problem. Only the first 100 workers are returned.

Further in our recent study when I try to bonus the 101st and above participants I am una

[2016-02-16 18:07] pfeyz commented on #121
Gunicorn has since added [SSL config settings](http://docs.gunicorn.org/en/stable/settings.html#ssl).

Using [Let's Encrypt](https://letsencrypt.org/) to automate SSL cert generation/signing could make the entire SSL setup process a single psiTurk server command, only requiring that the user is running their server at a domain name.

I'm taking a look at their [ACME](https://letsencrypt.github.io/

[2016-02-17 22:04] deargle commented on #203
@agardony I don't have a worker list large enough to test this myself, but try bumping up page_size to be greater than 100 in amt_services.py, line 404

[2016-02-17 22:43] agardony commented on #203
@deargle Thanks for the help. I tried what you said upping to 1000 and also to 101. In both cases got the following error when I tried to list workers for my HIT.

*** failed to get workers
Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/cmd2.py", line 788, in onecmd_plus_hooks
    stop = self.onecmd(statement)
  File "build/bdist.linux-x86_64/egg/cmd2.py", line 871, in one

[2016-02-18 04:23] deargle commented on #203
@agardony Indeed. get_workers calls boto's get_assignments, which calls AWS's GetAssignmentsForHit. Acceptable values for PageSize are [1 to 100](http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_GetAssignmentsForHITOperation.html)

I'm not sure the best way to go about this, but one way around this is to pass a different page_number to boto's get_assignments (defaults to the

[2016-02-18 07:28] deargle commented on #203
@agardony check out PR #207, it has a fix for this issue.

[2016-02-18 07:33] deargle opened #208 "get_workers limited to only returning 20 hits"
[the search_hits call in get_workers](https://github.com/NYUCCL/psiTurk/blob/663c2fdb0535f79ff0aec142ead4e0e594c7dc79/psiturk/amt_services.py#L396-L397) is limited to only returning 20 results.

This can be fixed by calling boto's [get_all_hits](https://github.com/boto/boto/blob/054305da314d34f5a7ef8518b3d79af84bf2aea4/boto/mturk/connection.py#L311) and exhausting the iterator

[2016-02-18 14:35] #203 closed

[2016-02-18 16:57] deargle commented on #175
+1 @pfeyz

[2016-02-18 17:56] deargle commented on #190
@jacob-lee @mshvartsman Looks like the culprit code is [here](https://github.com/NYUCCL/psiTurk/blob/376fed73e0ee44591b8b8048576478332d96e46f/psiturk/psiturk_shell.py#L740)

It should check that Participant.status >= 4 (submitted)

[2016-02-18 18:40] deargle commented on #104
+1

[2016-02-23 09:24] deargle opened #211 "Instructions player loadPage doesn't accept a page index argument"
nextPageButtonPress and prevPageButtonPress [pass an argument to loadPage()](https://github.com/NYUCCL/psiTurk/blob/332a104c1fecca897a558fca97c372f4583f2773/psiturk/psiturk_js/psiturk.js#L163), yet loadPage() [doesn't accept an argument](https://github.com/NYUCCL/psiTurk/blob/332a104c1fecca897a558fca97c372f4583f2773/psiturk/psiturk_js/psiturk.js#L114). Instead, it uses the currentscreen index. Thi

[2016-03-08 15:24] #89 closed

[2016-03-08 16:47] jhamrick opened #215 "Support Python 3"
Python 2 is being deprecated in a few years, and more and more projects are starting to support Python 3 (some are even Python 3 only, at this point). It would be great if psiTurk migrated over as well. I think this shouldn't be too difficult--I think most of the transition can be done with `six` and by fixing print statements.

Probably, however, it would be good to increase test coverage first s

[2016-03-09 20:21] Wildcarde commented on #197
Ideally, a single user should be able to run multiple experiments as well as long as they are on different ports.

[2016-03-17 17:01] twiecki opened #216 "Not a directory boto error"
Vanilla psiturk master installation with the example task:
[code]

[2016-03-18 15:09] rebitz opened #217 "Quickstart: not authorized to use this access key"
Hello - I'm having no luck getting psiTurk set up with the AWS credentials. I seem to have working credentials, put them into ~/.psiturkconfig without quotes or anything like that, have logged in to AWS, mTurk requesters and mTurk requesters sandbox with the same credentials, generated a user in AWS with good credentials, tried those, gave AWS my phone number (confirmed via phone) and credit card,

[2016-03-22 03:59] deargle commented on #216
Kind of relevant: http://stackoverflow.com/a/36083226/5917194
Try `pip install ssl`?

[2016-03-22 04:09] deargle commented on #217
Sounds like you might be trying to use the same username/password you use to log in to these services from your browser as your `aws_access_key_id` and `aws_secret_access_key` values? the access keys are strings of characters: the first is 20 chars long and the second is 40

[2016-03-22 07:32] twiecki commented on #216
Thanks, after reinstalling it actually started working so I'm going to suspect it pulled in `ssl` at some point. Maybe add that to `setup.py`.

[2016-03-22 07:32] #216 closed

[2016-03-22 13:46] rebitz commented on #217
Thanks for the reply, but - I had figured that one out.

Was following the screenshots from http://psiturk.readthedocs.org/en/latest/amt_setup.html carefully.

Any other thoughts?

[2016-03-22 14:38] gureckis commented on #217
i believe this is already outdated because amazon switched to a new security model.  @anselmrothe
do you have memory of how to dealt with this?

[2016-03-22 14:56] anselmrothe commented on #217
If you generated the AWS credentials recently then the new security model shouldn't be the issue. Also I think they actually still allow old style credentials (The new security model is described by them as a best practice: "AWS best practice by creating and using AWS Identity and Access Management (IAM) users with limited permissions.")

[2016-03-22 15:50] rebitz commented on #217
Ok - I got it worked out - I did generate the IAM user (as suggested by AWS) after I had a bit of trouble getting everything set up (on the off chance that amazon was only allowing IAM users for some reason). But - I suspect I had some other problem at that point, which I only made worse by doing this - when I reverted back to the root user account information just now, I was able to log in no pro

[2016-03-31 20:18] suchow commented on #215
This may be hard because `boto` has support for MTurk only for Python 2, and the development team there has no plan to change that. See https://github.com/boto/boto3/issues/174.

[2016-03-31 20:32] jhamrick commented on #215
Booo.

[2016-04-04 20:30] adamliter commented on #137
Is there any possibility of getting this feature on the stable branch, or does the development branch really need to be installed in order to use it?

[2016-04-05 00:45] adamliter commented on #137
By the way, could somebody explain to me what the difference between `cutoff_time` in `config.txt` and the duration that you set when you create a hit is? It seems to me like they are the same thing, but I'm guessing I might be misunderstanding something.

If they are the same thing, it seems odd that you can set the same thing in two different ways and that you can set them to be inconsistent.

S

[2016-04-09 00:00] adamliter opened #219 "Trying to exclude Safari also excludes Google Chrome"
If you look at `userAgent` for a Chrome browser it will also contain the word "Safari". Here's a screenshot example thanks to http://whatsmyuseragent.com/.

<img width="1272" alt="screen shot 2016-04-08 at 7 35 57 pm" src="https://cloud.githubusercontent.com/assets/4974404/14400178/5f522978-fdc2-11e5-8ac9-0e813a7a9f01.png">

As far as I can tell, this is because Google Chrome also uses Apple Web K

[2016-04-09 00:13] adamliter commented on #219
This is untested, but I believe this would fix the problem?

[code]

I'm happy to open a pull request if you'd like.

[2016-04-10 15:12] adamliter commented on #219
I tested the patch above, and it does seem to work correctly. Let me know if you're open to a pull request for this fix.

[2016-04-10 17:19] adamliter commented on #219
Actually, this only seems to fix the problem with debug links. For some reason, Chrome is still raising a `browser_type_not_allowed` error when accessing the experiment through http://mturk.com/. Any idea why that might be the case?

[2016-04-11 15:36] gureckis commented on #219
the ad server runs a nearly identical route on the server.  i will apply your patch to the server if you are confident it
fixes the issue locally.  then you can test

[2016-04-11 18:58] adamliter commented on #219
@gureckis Yes, I'm able to access the experiment with Google Chrome and Firefox but not Safari through the debug links after applying the above patch to my local installation of psiTurk, so everything seems to be working locally.

Let me know when you apply it to the server, and I can test it out and get back to you.

Do you want me to open a pull request with that patch as well?

Thanks! :smile:

[2016-04-11 18:59] gureckis commented on #219
sure that would be great

[2016-04-11 19:18] adamliter commented on #219
Thanks! If you let me know when you push this patch to the ad server, I'll test it out and get back to you.

[2016-04-14 09:08] deargle opened #222 "building docs, extension error: config value 'math_number_all' already present"
psiturk's sphinx config loads pngmath and mathjax. as of sphinx 1.4 (i think) pngmath has been deprecated and imgmath has taken its place. See [here](http://www.sphinx-doc.org/en/stable/ext/math.html#module-sphinx.ext.imgmath). When I try to build the docs I get a 'math_number_all' error message and they won't build, even if I replace pngmath with imgmath in the config. commenting out the imgmath

[2016-04-18 17:49] gureckis commented on #222
i'll try removing imgmath.  i'm not sure the docs use any math typesetting actually.

[2016-04-18 18:34] gureckis commented on #222
this seemed to work, thanks

[2016-04-18 18:34] #222 closed

[2016-04-19 02:13] adamliter commented on #137
For anyone wondering the same thing that I was immediately above, this has been addressed in [the Google group thread called "cutoff vs HIT duration"](https://groups.google.com/forum/#!topic/psiturk/v24ndasQy5U):

[2016-04-21 02:06] deargle commented on #137
@adamliter I'm still a github noob but I think this thread is invisible since it's closed unless username mentions are included. @gureckis the docs advertise that this feature works but it wasn't carried over into master code. If this is the right way to do it, I'm going to try a pull request that re-incorporates @JSlote 's commits into the current master branch.

[2016-04-21 02:12] deargle commented on #137
I should have poked around a bit more and thought a bit more before commenting. #180 made it so that fractional hours work, using a decimal format. I'll just PR the docs to point that out.

Also see #165

[2016-04-21 14:14] adamliter commented on #137
@deargle With the stable release of psiTurk on PyPI (2.1.2), the decimal format does not work:

[code]

[2016-04-21 14:36] deargle commented on #137
You can get the feature by installing from master: `pip install git+
https://github.com/NYUCCL/psiTurk.git`

On Thu, Apr 21, 2016, 10:14 AM Adam Liter <notifications@github.com> wrote:

[2016-04-21 15:04] deargle commented on #137
Also, @gureckis said in another issue that it's by design that the docs for psiturk point to master instead of to the most recent release, so I'll keep the PR up.

[2016-04-21 16:48] adamliter commented on #137
@deargle (and cc: @gureckis), that doesn't make much sense to me given that the recommended ways of installing in both the [docs](http://psiturk.readthedocs.org/en/latest/install.html#install-stable-version-via-pypi) and the [webpage](http://psiturk.org/quick_start/) say to do:

    pip install psiturk

The docs—but not the website—do go on to explain how to install from GitHub, but this is charac

[2016-04-22 02:22] deargle commented on #121
I've been looking into this a little bit today. Although Gunicorn can handle SSL, it only serves dynamic content by default. So everything in /static is broken. @gureckis [ran into this a few years ago too](http://librelist.com/browser//flask/2013/11/8/flask+ssl+gunicorn+static-files-problem/#2e91d768ce87722b7c8cf3a09f0e3509). The standard seems to involve putting a server such as nginx in front o

[2016-04-22 02:28] deargle commented on #121
I should say that I'm assuming that flask has been serving the static content all along, even with the psiturk gunicorn server running in front.

[2016-04-26 17:02] #219 closed

[2016-04-29 16:06] deargle opened #227 "psiturk -s script.sh shuts down server"
See [this google group discussion](https://groups.google.com/d/topic/psiturk/CrhHY6z8QOA/discussion).

IMO `psiturk -s` _shouldn't_ shut down the server. But it does because of [this code](https://github.com/NYUCCL/psiTurk/blob/d9fd9fe9c88c1ce3a9507b6f54eda49c21f1fb48/psiturk/psiturk_shell.py#L1840-L1850). A code comment in that exit handler says that it's intended to catch keyboard interrupts and

[2016-04-30 05:19] deargle commented on #227
Just removing the `atkill` handler fixes this problem. If it's removed, then `psiturk` can be run in the background via ctrl+z and bg <job number> and the server will continue to run, then psiturk -s can be called on top of it and the scripts will run and interact with the still-running server. and the script won't shut down the server afterwards, either.

[2016-04-30 05:22] deargle opened #229 "ctrl+c kills the gunicorn server"
psiturk_shell [ostensibly wants to prevent SIGINT from killing things](https://github.com/NYUCCL/psiTurk/blob/a3b9a8f7d014fbfa0b8a56040727e01ffd59f258/psiturk/psiturk_shell.py#L1833-L1838). It currently successfully blocks ctrl+c from killing the shell, but it _doesn't_ block it from killing the gunicorn server if that is running. SIGINT is still being picked up and processed by gunicorn. So if yo

[2016-04-30 06:21] deargle commented on #229
gunicorn overrides any attempt to set a custom sigint handler via something like [step 3 here](http://stackoverflow.com/a/13737455/5917194) [right here](https://github.com/benoitc/gunicorn/blob/89674d6b3543980b5a2d7cde2ddc6290f155e374/gunicorn/arbiter.py#L147-L166)

[2016-04-30 06:54] deargle commented on #229
dadgum we're still on gunicorn==18.0? Anyways, we could block the sigint if we extended the Arbiter class and overrode the app.base.Application `run` method to call our custom Arbiter class with our own SIGINT handler. Probably not worth the trouble though. I mean, killing things is what ctrl+c is `supposed` to do, yeah?

[2016-04-30 06:58] deargle commented on #229
A thought though. We could at least catch the SIGINT in the psiturk_shell process and print a message saying that the server is going down. Then it won't be a surprise. I'm probably overthinking this.

[2016-05-02 14:58] #227 closed

[2016-05-02 18:42] jacob-lee commented on #190
Actually, I've encountered situations in which two participants with status=4 have the same assignment ID in the db. This can happen, apparently, if a subject submits the 'complete hit', but reloads the page immediately after (e.g. if the response is too slow).

[2016-05-02 19:45] deargle commented on #190
Oh wow yeah I see. The `thanks.html` version _on the psiturk.org server_ does this (I think):

    <script>
        function complete_amt_task() {
            // reload trials
            $.ajax({
                dataType: "json",
                type: "GET",
                url: "/worker_submitted?uniqueId={{ workerid }}:{{ assignmentid }}",
                success: function (data) {

[2016-05-02 20:15] deargle commented on #190
Here's a solution using approach No. 1. It binds and unbinds an onbeforeunload event. @gureckis I tested it on my no-ad-server branch using my `thanks-mturksubmit.html` template and it works. I'll add this to that PR, could you add it to the psiturk.org ad server?

The PR associated with this issue (#210) would still be good to pull.

        function complete_amt_task() {
            $(window).on

[2016-05-10 01:16] #208 closed

[2016-05-10 01:17] #229 closed

[2016-05-10 01:45] deargle commented on #229
Feels good, man.

On Mon, May 9, 2016, 9:17 PM Todd Gureckis <notifications@github.com> wrote:

[2016-05-31 16:58] kupitzc commented on #104
Same thing is still happening, at least for me...

[2016-06-23 02:23] deargle commented on #104
It's a bug in bootstrap v3.1.0: https://github.com/twbs/bootstrap/issues/12683

[2016-06-23 02:27] deargle commented on #104
... fixed in v3.2.0, https://github.com/twbs/bootstrap/releases/tag/v3.2.0

[2016-06-24 20:22] andrewheusser commented on #180
@suchow: was heroku support added or did that not make it in?

[2016-06-27 21:28] cjbates-mit opened #234 "Requirements should be updated?"
I just did the pip install and I had to additionally install the following in order to start the psiturk server:

sudo pip install click
sudo pip install jinja2
sudo pip install werkzeug
sudo pip install itsdangerous

[2016-06-27 23:06] deargle commented on #234
That's unusual, those should already be installed along with psiturk. I
notice you are installing with sudo -- Try installing into a new virtualenv
and see how things go for you? (Check out virtualenvwrapper.) Works fine
for me.

On Mon, Jun 27, 2016, 5:28 PM cjbates-mit <notifications@github.com> wrote:

[2016-06-28 02:21] cjbates-mit commented on #234
Weird. It worked with virtualenv on Mac OS X. (I had done it on an ec2 ubuntu 14.04 instance when it didn't work).

[2016-06-28 02:21] #234 closed

[2016-06-28 04:31] deargle commented on #234
Bizarre.

On Mon, Jun 27, 2016 at 10:21 PM cjbates-mit <notifications@github.com>
wrote:

[2016-06-28 06:15] deargle opened #235 "legal wells don't print well when overflow"
The 'print a copy of this` buttons in the example files currently print the window, which might involve printing only part of the consent or debrief statements if they're so long that they scroll. this functionality can be improved thusly:

[code]
It'll only print the legal well, and it'll expand it. Code lifted from [SO](http://stackoverflow.com/questions/468881/print-div-id-printarea-div-only/26

[2016-06-29 08:07] deargle opened #236 "approving workers should set status = 5 (credited)"
it doesn't.

[relevant code here](https://github.com/NYUCCL/psiTurk/blob/ab04063ef8ad806bb5e75f5eb732f6aa875e111b/psiturk/psiturk_shell.py#L675-L687)

[2016-06-30 01:21] deargle opened #237 "add_bonus function inappropriately searches for unique using assignmentid"
[this should be filtering by uniqueid](https://github.com/NYUCCL/psiTurk/blob/e9c907fd8c9d62c0c08d6988fad864012048b061/psiturk/psiturk_shell.py#L639-L648) since assignmentids are not unique if there are quitters

[2016-06-30 05:40] #217 closed

[2016-07-01 21:04] deargle opened #241 "Internet Explorer not always blocked"
Let it be known that MSIE in your config.txt will not block all versions of IE user agent strings. The following two strings got through into my task. "Edge" will obviously block that Edge one, but I'm not sure about the MSIE one. BTW Qualtrics flagged the second as MSIE. I'm not sure yet how it discerned that.

**Edge**

Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Ge

[2016-07-11 14:44] deargle opened #244 "PsiTurk using old number of conditions"
noticed by @lositsky in this thread: See https://groups.google.com/forum/#!topic/psiturk/5957-nhV1qE

The docs have been updated with a workaround, but it'd be nice if experiment.py got a bugfix.

[2016-07-11 16:26] #237 closed

[2016-07-11 16:27] #236 closed

[2016-07-13 17:15] gureckis commented on #190
so should i update the ad servers (sandbox,live) to include this revised `complete_amt_task`?

[2016-07-13 17:34] deargle commented on #190
I vote yea. It's a good safeguard. If they ignore the prompt they'll still
get corrupted data, but this should at least cut down on that happening. I
recently put a PR on ad.psiturk.org repo that does this update.

On Wed, Jul 13, 2016, 1:15 PM Todd Gureckis <notifications@github.com>
wrote:

[2016-07-13 17:45] gureckis commented on #190
Ok, just processed this thread.  I think the message "your assignment data will be corrupted" is a little ambiguous from the perspective of a unsophisticated worker.  Maybe "Your submission is in progress.  Please do not close this window."  ?

[2016-07-13 17:49] deargle commented on #190
Sure, good point. I'll edit the ad.psiturk.org PR and I'll edit it here too.

On Wed, Jul 13, 2016 at 1:45 PM Todd Gureckis <notifications@github.com>
wrote:

[2016-07-13 17:54] deargle commented on #190
Done and done.

On Wed, Jul 13, 2016 at 1:49 PM Dave Eargle <dave@daveeargle.com> wrote:

[2016-07-13 18:38] gureckis commented on #190
👍

[2016-07-13 18:41] gureckis commented on #190
ok this should be propogated to sandbox.ad.psiturk.prg and ad.psiturk.org

[2016-07-13 18:47] deargle commented on #190
Long Live Psiturk

On Wed, Jul 13, 2016 at 2:41 PM Todd Gureckis <notifications@github.com>
wrote:

[2016-07-27 21:52] abendebury opened #247 "Quickstart guide not accurate"
I attempted to follow the quickstart guide but I encountered some errors:

https://gist.github.com/PlasmaSheep/977c198b94b76a3e31a350abf9959efa

Error 1:

[code]

I'm not sure how to fix this or why it happens. I was unable to find any more detailed error than this.

Error 2:

[code]

Googling around, I was able to solve this like so:

https://gist.github.com/PlasmaSheep/ca37c57b889e915a9a4afea73c

[2016-08-25 14:45] mvdoc commented on #103
Just ran into this problem while setting up a dockerfile for psiturk + mysql: `server log` crashes miserably. It would be nice to avoid dependency from x11.

[2016-08-25 16:13] mvdoc commented on #162
This is my attempt to use docker-combine to start a psiturk container + mysql and link them. So far I only tested on my server, and with the psiturk-example, and it seems to work. Thanks to @twiecki and @braingineer for the inspiration from their Dockerfile.

Here's the repo https://github.com/mvdoc/psiturk-docker

My solution as well was to map a local directory to a volume within the container (

[2016-12-02 16:46] deargle opened #250 "server param 'debug' does absolutely nothing"
[the 'debug' server param](https://github.com/NYUCCL/psiTurk/blob/388b22c4219a9c0f1a66d40fc83d74ac5da14438/psiturk/default_configs/local_config_defaults.txt#L24) does [absolutely nothing](https://www.youtube.com/watch?v=KezvwARhBIc)

We could scrub it from the config file, docs, etc. Or, debugging can be enabled for flask [thusly](http://stackoverflow.com/a/8959107/5917194)

[2016-12-06 18:43] fredcallaway commented on #215
I wonder if boto is even necessary. It seems to me that the boto module is just a glorified wrapper around the [mturk API](http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/Welcome.html). There's another (albeit less glorified) [wrapper](https://github.com/ctrlcctrlv/mturk-python). I wonder how difficult it would be to switch to this wrapper.

In the short term, we could work towards Pytho

[2016-12-21 18:53] jacob-lee opened #252 "psiturk_shell.py's worker_bonus"
I am wondering if not registering a bonus, when the bonus is 0, is the intended behavior:

[code]

If a bonus of $0 is in the range of promised bonuses (e.g. bonus between $0 -$1), then a consequence of the code above is that assignment may appear to have been neglected by the requester; for example, a requester might look up all rows where status == 4, or 5 tto see who remains to be paid performa

[2016-12-21 19:36] deargle commented on #252
I think it's intentional. I can see arguments both ways. If a requester is manually looking up all rows where status == 4 or 5, wouldn't they also only query the rows where bonus > 0? Those are the only ones who would have not received their due.

[2016-12-22 17:29] jacob-lee commented on #252
I can see your argument.

The Participant model's `bonus` column defaults to 0. I suspect this has
something to do with the decision in the bonus code above; alternatively,
it could be checked against null, if the bonus field were null prior to a
bonus value being explicitly assigned by the requester's code.

In my case, I was unsure whether a subject legitimately received a 0 for
their bonus, or

[2017-01-11 15:33] braingineer opened #254 "adding easy heroku deployment with ssl support"
Hi all,

I've been poking around for some solutions to allow repeated workers.  #214 and #90 are the standing reference points.  @gureckis mentioned that the ad server might be fussy to get working with allowing repeated workers.

In addition, though, #162 reports wanting a docker image to get things up and running.

To wrap those together, I wanted to drop some bread crumbs. I'm hoping to get to

[2017-01-11 16:04] deargle commented on #254
Note to the reader, repeat workers as implemented in #214 will work as long as you're not using the ad server (just set `use_psiturk_ad_server = false` and point `ad_location` at heroku, see [here](https://psiturk.readthedocs.io/en/latest/config/shell_parameters.html#use-psiturk-ad-server-true-false) ).

I could merge #214 if it is desired, even though it won't work with the ad-server yet.

[2017-01-23 23:44] dbirman commented on #173
This problem still appears for some users by the way, appears to be an OS X specific problem, might be worth seeing whether the change can be merged at this point...

[2017-01-24 01:01] deargle commented on #173
Ha, I just helped a friend with this not two hours ago.

I don't have a mac, so can someone test this for me at line 21?

[code]

[2017-01-24 01:15] deargle commented on #173
Who needs testing! Merged. Would be nice if some other PC and mac users could pull down @master and test against that before I create a tag, though.

[2017-01-25 03:49] deargle commented on #173
Made a minor release anyways (v2.1.7) because yolo.

[2017-01-25 15:42] gureckis commented on #173
:+1:, were you able to push it to pip?

[2017-01-25 16:11] deargle commented on #173
[Yup](https://pypi.python.org/pypi/PsiTurk/2.1.7), thanks to good old Travis CI.

[2017-02-01 07:27] suchow commented on #254
@braingineer

Regarding Heroku, the SSL certificate is unnecessary because all `*.herokuapp.com` subdomains are already SSL-enabled.

There are also some changes you'll need to make to psiTurk to get things running on Heroku. In particular, check out the seven most recent commits on https://github.com/suchow/psiTurk-heroku/commits/master. At the time I was testing that, I also created the followin

[2017-02-03 20:31] suchow commented on #180
@andrewheusser

I'm going to close this now because everything on the original list is finished except for Heroku support. A first draft of that support is implemented in https://github.com/suchow/psiTurk-heroku, though I'm not sure how those changes interact with other services that people use to run psiTurk.

[2017-02-03 20:31] #180 closed

[2017-02-06 23:28] ariekahn opened #258 "Any easy way to separate counterbalancing and completion"
Running some experiments where I'd like to allow submission without full experiment completion so we can still provide partial payment, but I'd prefer to not have those subjects factor into the choice of conditions and counterbalances because that data isn't going to be used.

From what I can tell, Participant.status is the only real indication of success, so it doesn't look like there's any simpl

[2017-02-07 00:17] deargle commented on #258
Nothing comes to mind short of forking and having experiment.py load each
participant's string to check some custom property when counting number in
each condition. You could cross your fingers and hope for random
distribution of partial completion?

On Mon, Feb 6, 2017, 6:28 PM Ari Kahn <notifications@github.com> wrote:

[2017-02-07 01:03] deargle commented on #244
Thanks @ariekahn! The warning in the docs has been removed.

[2017-02-07 01:03] #244 closed

[2017-02-08 16:07] braingineer commented on #254
Hi @suchow,

Thanks for your work!

So to combine your and @deargle's points:
- heroku is already SSL enabled,
- if people aren't using the main ad server, they can deploy HITs that allow for repeat workers

So, then my question is: can Heroku support the custom ad server required to allow for repeat workers? Also, can the ad server be at the same location the experiment is hosted, e.g. can they b

[2017-02-08 16:27] deargle commented on #254
I can answer these.

Not quite, I haven't merged it yet. But I can.

Yes, Heroku can serve the ad. There's not actually a custom ad server if you're not using the psiturk ad server. You just have to have regular-old https enabled for your study. If you can run your study in debug mode with https, then you can host your own ad.

I'm guessing here, but Heroku likely has a/several https-enabled web s

[2017-02-08 16:38] braingineer commented on #254
Thanks @deargle!

Aaah. So you're saying the only thing the ad server was allowing for was to let participants see the ad.html, and if you're serving the experiment behind an https connection, then they don't need the redirect?

That's a good idea. I'll check into that.  I've used things like that before for hiding jupyter notebook servers. I'm also not sure re: heroku, but I'm sure the answer exi

[2017-02-08 21:20] deargle commented on #254
That's correct.

BTW, allow_repeats (#214) is now merged into master. Still doesn't work on the psiTurk ad server though.

[2017-02-08 21:22] gureckis commented on #254
Going off memory here but I think what the Ad server does is contact your psiTurk process and ask if the worker has completed the task before.  If you say yes, it will block them.  If you say no it will not.  So I think one could change the way psiTurk client works to not block repeats without touching ad server.  (I could be wrong... happy to look more deeply at it).

[2017-02-08 21:22] deargle commented on #90
Reopening because it's still not implemented on the psiTurk ad server.

[2017-02-08 21:28] deargle commented on #254
Hmm interesting. The code in question is right [here](https://github.com/NYUCCL/ad-psiturk-org/blob/0f98609a4037867491e71876bfba585a0862954d/app/__init__.py#L203) (socially acceptable to link a private repo in a public comment?)

[2017-02-08 21:30] deargle commented on #254
Hacking the response status would lose the ability to filter out early quitters, but if that's an acceptable trade-off, yeah it could be done.

[2017-02-08 21:30] gureckis commented on #254
Here's he other hint.... to decide to show the ad or an error message the ad server accesses "check_worker_status" route.  this returns the status in the database.  I think if you turn on "allow repeats" you could simply return a status that would be allowed. https://github.com/NYUCCL/psiTurk/blob/d00b5718c4a39277578d34e1b1c145cda606d84a/psiturk/experiment.py#L18

[2017-02-08 21:32] deargle commented on #254
Oh you're right, no trade-off required.

[2017-02-08 21:35] gureckis commented on #254
it would be interesting to force the status to NOT_ACCEPTED or ALLOCATED and see what happens on the ad server.  a more clean way would be to pass "allow repeats" to the ad server when you create the ad and then i can add some code to ignore the deny_already_completed_hit code for those ads.  this is actually the way the sandbox ad server works (it lets you repeat with same worker info).

[2017-02-08 21:38] deargle commented on #254
It's easier on the local end to pass you 'allow repeats' during ad creation. I can do that right now... brb

[2017-02-08 21:40] deargle commented on #254
do you want `allow_repeats` passed as an int?

[2017-02-08 21:43] gureckis commented on #254
however is_sandbox is provided

[2017-02-08 21:46] deargle commented on #254
Right, it's as an int.

[2017-02-08 21:51] deargle commented on #254
I'm ready to test, but it's throwing an error until the ad server knows what to do with the passed `allow_repeats`, so let me know when.

[2017-02-08 21:52] gureckis commented on #254
ok, i'm hacking on it now but it won't be a quick as you.  tonight or tomorrow.

[2017-02-08 21:56] deargle commented on #254
No worries, I pushed to a [branch](https://github.com/NYUCCL/psiTurk/tree/allow-repeats-to-adserver).

[2017-02-09 04:27] gureckis commented on #254
moving the part of this discussion about repeats to Issue #90

[2017-02-09 05:12] deargle commented on #90
Just tested, had great success. [ad id](https://sandbox.ad.psiturk.org/view/z2WaJDxoJM6jDPxqeTLL8d?assignmentId=debugZSHBLH&hitId=debugH2J96D&workerId=debugN7TR5H) if that's helpful.

The way @jhamrick [implemented it](https://github.com/NYUCCL/psiTurk/commit/0898a8882ff288695d2c86dc93484b644c964e18) is nice. She only changed [19 lines in experiment.py](https://github.com/NYUCCL/psiTurk/commit/089

[2017-02-09 05:13] gureckis commented on #90
the sandbox ad you just posted did not set allow_repeats to true, was that what you expected?

[2017-02-09 05:18] deargle commented on #90
Yes. [Here's another](https://sandbox.ad.psiturk.org/view/5F57hrHYeKUJH3DQzUabTa?assignmentId=debugNW9762&hitId=debug6FZ2OJ&workerId=debugIRVBQ7) that _does_ set it to true.

[2017-02-09 05:34] gureckis commented on #90
perfect.  yes @jhamrick approach is in the right flavor, especially the part that selectively checks against either workerId or workerId+assignmentId.  my only concern about her code is that what happens if you first run the task with `allow_repeats` false then true?  or vice versa?  run against the same table you'd have to do a bit more error checking to avoid problems.

[2017-02-09 06:33] daksh-agarwal opened #261 "Enable Access-Control-Allow-Origin policy"
I am running an experiment in PsiTurk that is running on some other port. When I am trying to POST that data back to the server, it is running into the error 'Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:22362/. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).'

Is there any way I can allow CORS on PsiTurk server? TIA.

[2017-02-09 06:35] daksh-agarwal commented on #261
To add to it, I have already tried adding 'Access-Control-Allow-Origin = *' to my config file. But, it is not working with this.

[2017-02-09 17:09] deargle commented on #90
Switching back and forth should be fine in theory, yeah? Whether `allow_repeats` is True or False, it checks if the number of matches (workerId or workerId+assignmentId) == 0. This should work regardless of the pattern of past settings for `allow_repeats` for an experiment.

[2017-02-09 17:13] gureckis commented on #90
it's a little confusing to me.  if you allow_repeats (so there are multiple copies of the same worker in the db) and then disallow repeats, what status should be returned for the worker when the ad server queries?  basically in the disallow repeats case the check_worker_status is if the worker has done the task before.  could there be a situation where the worker accepted but did not complete mult

[2017-02-09 21:21] deargle commented on #90
I think `allow_repeats` permits workers to retake an experiment only if
they completed the most recent attempt. That means that check_worker_status
should return the status for the most recent db entry for a given worker.
At least, that's the way I think it should work. I'll review the code later
when not on mobile.

On Thu, Feb 9, 2017, 12:13 PM Todd Gureckis <notifications@github.com>
wrote:

[2017-02-10 16:01] mvdoc opened #262 "server log fails with OSError: [Errno 2] No such file or directory"
I haven't managed to make `server log` work successfully in the psiturk shell. Here's the error I get

[code]

Here's the server configuration from `config.txt`

[code]

and if you want to reproduce it, I'm running psiturk + mysql within a Docker container, which you can find here: https://github.com/mvdoc/psiturk-docker

[2017-02-10 16:05] mvdoc commented on #262
Inspecting https://github.com/NYUCCL/psiTurk/blob/master/psiturk/psiturk_shell.py#L251 I realize that server log requires xterm, which I'm not running in the Docker container to avoid installing Xserver.

[2017-02-10 16:06] #262 closed

[2017-02-10 17:45] deargle commented on #262
As an alternative, you can always manually inspect server.log in the same
dir as your config.txt

On Fri, Feb 10, 2017, 11:06 AM Matteo Visconti di Oleggio Castello <
notifications@github.com> wrote:

[2017-02-11 01:31] deargle commented on #90
Forget everything I said in the previous comment here, there's no checking of the previous submission. Maybe that can be implemented later, but as it stands, it's a fresh start every time. I vote we go ahead with the code as it currently is (including [this commit](https://github.com/NYUCCL/psiTurk/commit/3d77ccf0238049510cbbdc8836b7c7a1dfacdcfc)) until moar feature requests are made.

I'll update

[2017-02-14 13:50] chepner3 opened #263 "us_only and approve_requirement in configuration file have no effect"
I have been running experiments with `us_only = true` and `approve_requirement = 95` set in the local configuration file.  Since I was getting a significant number of participants from outside the US, I checked the qualification requirements for the HITs I had posted using PsiTurk and discovered that there were no qualification requirements listed for any of them.  The other parameters set in the

[2017-02-14 18:11] chepner3 commented on #263
I think I may have figured out what is causing this.  The documentation for the CreateHIT operation in the Mechanical Turk API (see [http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_CreateHITOperation.html](http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_CreateHITOperation.html)) states:

"If the HITTypeId parameter is specified, the CreateHIT operation

[2017-02-14 22:06] deargle commented on #263
Egads. Were you able to test if your fix works? I'll try to find time soon.

[2017-02-14 22:12] deargle commented on #263
[Here's](https://github.com/boto/boto/blob/2af51cd07d2b8be5d5868a3d368dc45566c74ecc/boto/mturk/connection.py#L76) the part in Boto where qual_req is processed (default None). It looks like it doesn't use it during the creation of the HIT type if it's None. So it's as if it's not specified in the Hit Type, and therefore we're only specifying the common properties? More testing required.

[2017-02-14 22:39] chepner3 commented on #263
I have had a chance to test my fix, and it seems to have worked.  Setting `us_only = true` and `approve_requirement = 95` now causes new HITs to have the appropriate qualification requirements, at least in the sandbox.

[2017-02-15 03:29] deargle commented on #263
I'm still weirded out that this has been this way for so long. I am looking into what else is affected. So far, I've learned that these fields are the "common property values" that are included in the hit type id (and therefore ignored when reset again later):

[code]
([source](http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMechanicalTurkRequester/Concepts_HITTypesArticle.html))

For reference,

[2017-02-15 03:56] #263 closed

[2017-02-15 04:02] gureckis commented on #263
oh jeez.  well, honestly this just reinforces to me why open-source is better for this type of thing.  bugs get caught that in an individual lab might linger for a long time!

[2017-02-15 04:03] deargle commented on #90
@gureckis docs are ready. Is the ad server ready to go --

wait, hold that, I guess the takeaway from this whole conversation is that all the work is done in check_worker_status, and that the ad server doesn't need to do anything with the allow_repeats param sent to it. Oh well, we can pass it anyways.

I'll merge.

[2017-02-15 04:05] gureckis commented on #90
I *think* that is right.  The new ad server field isn't terrible to have though in case we want to alter some of the error messages in the future based on the type of experiment it is.

This is one of the features that making an automated test for is a little tricky i think.

[2017-02-15 04:07] gureckis commented on #90
Oh actually that reminds me that in my unfinished branch on this I included something like `always_show_instructions` which allows you to configure if the instruction phase should run every time or only the first time the task is completed.  the idea being on repeats you might want to skip the instruction phase (if you have it).  possible a new feature request but it naturally ties to the allow re

[2017-02-21 16:54] ariekahn opened #265 "Example experiment: Bug in resubmit function?"
In the stroop example task.js, the questionnaire calls `psiTurk.completeHIT()` once the bonus computation is successful. If it fails though, `resubmit()`  tries to resend the data, and once successful, calls `finish()` instead, which looks like a holdover from an earlier version of the code.

Should `resubmit()` be calling psiTurk.completeHIT() as well?

[first try](https://github.com/NYUCCL/psiTu

[2017-02-21 17:09] deargle commented on #265
Probably. There's some weird stuff in that whole "try again" bit. I suppose it just never fails the first time so that code is never reached, so no one has complained. Will patch though with your PR.

[2017-02-25 08:31] Yuan-Meng commented on #254
@suchow Sorry to bother you with a silly question, Step 1-15 works perfectly fine for me, but when I entered `psiturk` in the Heroku bash prompt, the following error occurred:

`Traceback (most recent call last):
  File "/app/.heroku/python/bin/psiturk", line 11, in <module>
    load_entry_point('PsiTurk', 'console_scripts', 'psiturk')()
  File "/app/.heroku/src/psiturk/psiturk/command_line.py", l

[2017-02-27 17:16] deargle commented on #254
Show the config.txt that you pushed?

[2017-02-27 21:38] deargle commented on #254
Thanks for your work, @suchow. I just set up psiturk proper to work with heroku following the pattern of your fork. Env vars for what would normally go in `.psiturkconfig` now are respected in `psiturk_config.py`, so `psiturk_shell.py` didn't have to be altered except for the improved logging bit.

Changes from your instructions:
* one new env var (ON_HEROKU)
* one new config.txt setting (`adserve

[2017-02-27 22:00] braingineer commented on #254
Awesome!! Thanks for the ping!

[2017-02-27 22:15] braingineer opened #267 "example experiment flow"
Hello,

I was just wondering how committed you all were to using the experiment in the example folder.  I recently had to pick through someone's implementation and tracing the flow was very.. frustrating.  It was all due to the convention of burying the experiment design in the experiment itself (e.g. [this](https://github.com/NYUCCL/psiTurk/blob/master/psiturk/example/static/js/task.js#L195)).

I

[2017-02-27 23:56] braingineer commented on #254
Hey @deargle,

running into some issues with your directions. I have a repo [here](https://github.com/braingineer/select).

- it turns out heroku wants more information about that app. before pushing, you need to do:
  `heroku buildpacks:set heroku/python`
  and have a `requirements.txt`.
- the error that @Yuan-Meng got was related to a formatting issue with the `revproxy_url` in `psiturk_shell.py

[2017-02-28 00:06] braingineer commented on #254
to be more exact about that `revproxy_url` thing, here's a diff: https://github.com/NYUCCL/psiTurk/compare/master...braingineer:herokusafe?expand=1

[2017-02-28 00:28] Yuan-Meng commented on #254
@deargle Below is what's in my config.txt
`[HIT Configuration]
title = Stroop task
description = Judge the color of a series of words.
amt_keywords = Perception, Psychology
lifetime = 24
us_only = true
approve_requirement = 95
contact_email_on_error = youremail@gmail.com
ad_group = Default psiTurk Stroop Example
psiturk_keywords = stroop
organization_name = New Great University
browser_exclude_rul

[2017-02-28 00:55] deargle commented on #254
Actually @yuan-meng's port error was related to sqlalchemy, according to the stack trace. It's because your database_url setting in your config.txt is messed up.

And @braingineer I forgot to make something clear -- my instructions assume that you do in fact start from `psiturk-setup-example`. There are three new files that are copied into the default example that heroku needs -- `requirements.txt

[2017-02-28 00:57] braingineer commented on #254
@deargle hmm. I might have run the `psiturk-setup-example` before I re-pulled the branch to get the newer updates because my repo was initialized with it just earlier this evening. I'll be sure to redo that then!

re: everything else.
gotcha! thanks. will report if other issues. thanks!

[2017-02-28 01:07] deargle commented on #254
@braingineer, were you experiencing an error with the port casting independent of @Yuan-Meng?

[2017-02-28 01:15] deargle commented on #254
Sorry, silly question, I see now. I just couldn't imagine why my tests didn't catch that. I suppose I've always had `adserver_revproxy_port` set, so I never hit that casting issue. Thanks for the report.

[2017-02-28 01:24] Yuan-Meng commented on #254
@braingineer I'm curious if you're using the custom version of psiTurk created by @suchow or the default version. I asked this because in the custom version, there's no `revproxy_url` in `psiturk_shell.py`.

[2017-02-28 01:30] deargle commented on #254
He's using psiturk proper, with the code I just pushed earlier today.

[2017-02-28 02:03] Yuan-Meng commented on #254
@deargle Ah, thank you!

After dropping `postgresql://`, I'm finally able to launch psiTurk shell. However, (someone may have mentioned this) it seems I can't open the debug link that I was given. Also, I created a HIT and the `https://sandbox.ad.psiturk.org/view/gqUTR6xBdXNFTtzoBgSt6f?assignmentId=debugQDN486&hitId=debugAYHDZZ&workerId=debug27EHFJ` led me to "Error: 1018 (Description: The request

[2017-02-28 02:19] deargle commented on #254
Need more information. Did you pull from master within the last hour?

psiTurk ad server.)"

In this case, that's an inaccurate error message description. The problem
is that your psiturk credentials aren't set correctly on heroku. Check to
make sure that you set the env vars correctly in this step:

[code]

Make sure you didn't put quotes around your values. Maybe share the results
of `heroku con

[2017-02-28 02:54] Yuan-Meng commented on #254
@deargle
1. About the debug link:

Yes. In fact, I went through all required steps within a few minutes.

2. About the 1018 error:

Below is what I typed in terminal when setting env vars:
`heroku config:set psiturk_access_key_id=myKey`
`heroku config:set psiturk_secret_access_id=myKey`
`heroku config:set aws_access_key_id=myKey`
`heroku config:set aws_secret_access_key=myKey`
I doubled checked if

[2017-02-28 03:16] deargle commented on #254
@Yuan-Meng @braingineer I just released a new version of psiturk to pip (v2.2.1) so that when heroku installs via `requirements.txt`, it actually works. The version of `requirements.txt` that I bundled with the example app references an unpinned `PsiTurk`, so it should pick up the version bump. Heroku needs the updates in 2.2.1. Sorry about that, forgot that not bumping would lead to issues -- my

[2017-02-28 05:31] Yuan-Meng commented on #254
@deargle Thanks for the new version!

It's strange that I'm keeping getting Error #1018 (The requested HIT is not registered with the psiTurk ad server.)--I even regenerated my psiTurk keys and AMS keys and checked many times that they are indeed correct.

I also don't think there were typos when I set env vars: (digits in the middle are replaced with ...)
`heroku config:set psiturk_access_key_id=

[2017-02-28 19:25] ariekahn opened #268 "documentation: cutoff_time misleading"
Documentation currently states that `cutoff_time` is:
*Maximum time in minutes to finish the task. The connection will be closed after this time is up.*

As far as I can tell, the setting is only used in the counterbalancing code to include for anyone that started the experiment within `cutoff_time`.

Was this intended to affect the length of time to keep a session available, or does the documenta

[2017-02-28 21:57] ariekahn opened #269 "Bump requests version"
Running into the following issue, which basically amounts to the version of urllib3 bundled with requests` not handling openssl when not compiled with SSLv3 support (which I'm running into on EC2):
http://stackoverflow.com/questions/28987891/patch-pyopenssl-for-sslv3-issue

Should requests get updated? It's pinned at a pretty ancient version right now, and it looks like fix is in 2.5 onwards.
http

[2017-02-28 22:01] deargle commented on #269
Sure, we can upgrade requests. Meanwhile, does upgrading pip fix your problem on EC2, as suggested lower in that SO post?

[2017-02-28 22:16] deargle commented on #268
Weighing in to say that this predates me, but you're right about it only affecting the random condition selection. We could change the docs, but with a name like `cutoff_time`, it's hard to think of what to say. It'd be nice to just remove it entirely from the config and use the hit duration instead in its place in the code there, but the hit duration is currently set for each hit. Maybe we make t

[2017-02-28 22:30] ariekahn commented on #269
pip's getting upgraded beforehand:
[code]

I've been manually upgrading requests up until now, which works fine with the copy on pypi, so was just ignoring this.
E.g. the following runs fine:
[code]

However, when I try to install from the github copy, e.g.
[code]
I get
[code]

Any idea why there'd be a difference?

[2017-02-28 22:41] deargle commented on #269
No idea. The copy on pypi is put there automagically by Travis CI, so they should be exactly the same...

[2017-02-28 23:01] deargle commented on #269
I get insecure platform warnings on >=2.6.0, and I'm lazy, so 2.5 it is.

[2017-02-28 23:05] deargle commented on #268
Whoops, closed wrong one.

[2017-02-28 23:06] #269 closed

[2017-02-28 23:09] deargle commented on #269
@ariekahn can you confirm that this fixes your issue?

[2017-02-28 23:18] deargle commented on #269
In response to this:

I just tested, and installing via pypi dist does not install an egg into site-packages (only a .dist), and therefore does not include a `requires.txt`. It's the `requires.txt` in the egg (which is present when installing via github, through pip) which enforces the pinned version requirements.

I'm a novice in the land of python eggs and dists, though.

[2017-02-28 23:27] ariekahn commented on #269
@deargle Yep, that fixed it!

And just noticed the difference in installation methods, thanks for looking into it.

[2017-03-02 17:13] chepner3 opened #270 "language detection does not work in recent versions of most browsers"
PsiTurk currently attempts to detect a participant's language based on the user agent string (see [experiment.py line 408](https://github.com/NYUCCL/psiTurk/blob/master/psiturk/experiment.py#L408)).  Recent versions of most browsers no longer include language preferences in the user agent string, so this method does not work reliably.

A better way to do this would be to use the [Accept-Language](

[2017-03-08 03:03] gureckis commented on #267
no, another version could be cool.  I’m not sure what you mean about the design being buried in the experiment itself (and the showPage()) call.
can you unpack what is confusing and how the jspsych is easier?

[2017-03-10 02:09] braingineer commented on #267
Awesome!  I will PR it when psiturk stuff cycles back to the foreground.

The example in the repo isn't as bad as the encounter I had, so the pattern I'm going to point at isn't all that horrible.  Taken further though by having several objects in one experiment and it becomes very cumbersome.

Tracing through the experiment flow:

1. Code loads in `task.js`
2. Hits [this part and start the instru

[2017-03-16 03:55] gureckis commented on #267
Yeah, I think the structure was design so that there was a kind of “object” associated with each phase of the
task.  This made things somewhat modular because you could pull out the module for one part of the task
and move it to another experiment without needing to know the details of what is happening inside the module.
However, if you have a better method that also favors reuse then please shar

[2017-03-16 03:58] gureckis commented on #270
sounds like a simple pull request... but seems like it was reverted?

[2017-03-16 04:28] deargle commented on #270
I'm curious what will happen if a not-recent-enough browser is used. I
didn't see compatibility versioning info on mdn. Would probably be best to
have a fallback or safety check lest a js explosion happens. Although I
guess worst-case is an undefined.

On Wed, Mar 15, 2017, 11:58 PM Todd Gureckis <notifications@github.com>
wrote:

[2017-03-16 12:00] chepner3 commented on #270
Sorry, I am a bit new to git; I seem to have reverted the pull request by accident.  I have been using the code included in the pull request for a month or so now, and it has worked 100% of the time so far.

The Accept-Language HTTP header has been a standard since the first HTTP/1.1 specification in 1997.  The MDN compatibility table shows "yes" with no further clarification about version numbers

[2017-03-27 21:42] PatrickLaflamme opened #274 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
When I try to open psiturk, I get the following error:

[code]

I can't figure out how to solve this, but my understanding is that the error is thrown when trying to connect with the psiturk website.

[2017-03-27 21:50] gureckis commented on #274
It is trying to open this link: https://api.psiturk.org/status_msg?version=2.1.1
if it loads from your browser it suggests you have some problem with a library psiturk depends on like urlopen.  that link works for me so its not a system outage.

[2017-03-27 23:09] PatrickLaflamme commented on #274
You were correct. Reinstalled python from source and it worked.

[2017-03-28 03:16] #274 closed

[2017-03-28 04:13] PatrickLaflamme opened #275 "Cannot create a hit in sandbox mode"
I can't seem to get psiturk to create a test hit. Unfortunately I keep getting this error:

[code]

I checked the server log, and nothing was written to it, so I'm no quite sure how to start debugging.

[2017-03-28 05:03] deargle commented on #275
Unfortunately there's a lot of things that could have gone wrong. Share your config.txt?

[2017-03-28 20:12] PatrickLaflamme commented on #275
Sorry about that, here it is.

[code]

My mysql database is working, I've checked, but I removed the info from my post for obvious reasons.

[2017-03-28 20:28] deargle commented on #275
Looks okay. Are you comfortable editing your psiturk source? I'd like to see a printout of hit_config ([right here](https://github.com/NYUCCL/psiTurk/blob/b86ef13cda5f981f244876fe8a156a25a9eeb755/psiturk/psiturk_shell.py#L1173))

If not, what are you passing when you run `hit create` for numWorkers, reward, and duration?

[2017-03-28 21:30] PatrickLaflamme commented on #275
I can do that! Here is a printout of hit_config

[code]

[2017-03-28 22:09] PatrickLaflamme commented on #275
After some investigation, it appears that you need to activate the sandbox mode of MTurk separately from live MTurk (apparently they are technically two separate accounts). I activated the sandbox mode of MTurk on my account, and it works like a charm!

Thanks!

[2017-04-07 19:20] yeonsoonshin opened #276 "revproxy_url without default port"
Thank you for implementing reverse proxy support in the newest version of psiturk!

I found that revproxy url is currently formatted as
`revproxy_url = "http://{}:{}/ad".format(self.config.get('Server Parameters',
                                                                    'adserver_revproxy_host'), port).`
However, this prevents my host from working correctly, because my `adserver_revprox

[2017-04-07 19:31] deargle commented on #276
I suspect that running a psiturk experiment off of a subdirectory would require refactoring a lot more than just this area of code. You can try it out though by forking?

[2017-04-15 19:02] yechana opened #277 "Cannot load ad"
Hello,

I am quite new to using psiturk and mturk. I've recently launched a task on mturk using psiturk and jspsych.  Before launching, I've debugged the experiment and checked the ad and consents many times.

Upon putting it on sandbox though,  the outputted ad link would always not load (showing an error message after a long time of attempting to load). The HIT on sandbox, oddly enough, was able

[2017-04-17 23:15] yechana commented on #277
This issue was solved. It was an issue with the university network.. just had to get off it.

[2017-04-17 23:15] #277 closed

[2017-04-21 20:45] yeonsoonshin commented on #276
I could edit [`do_debug` part](https://github.com/NYUCCL/psiTurk/blob/b86ef13cda5f981f244876fe8a156a25a9eeb755/psiturk/psiturk_shell.py#L1796) that I mentioned above, but I think the import work that actually sends information to ad server is done [here](https://github.com/NYUCCL/psiTurk/blob/b86ef13cda5f981f244876fe8a156a25a9eeb755/psiturk/psiturk_shell.py#L1127) in `create_psiturk_ad `.  Would t

[2017-04-21 21:02] deargle commented on #276
Ah yes, it will break there. That would be a non-backwards-compatible change to the ad server, so it would take some careful work before implementing. Probably the fastest option for you if you really must be able to serve off of a subdirectory will be to fork and not use the ad server.

[2017-05-14 02:12] #275 closed

[2017-05-31 15:46] deargle commented on #254
Here's a quick way to set the four heroku configs:

[code]

[2017-06-27 22:02] colinquirk opened #280 "Typo in the Docs"
Hi,

There's is a typo in the API section of the docs:
https://psiturk.readthedocs.io/en/latest/api.html#psiturk-savedata-callbacks

The header is psiturk.save**d**ata when it should be psiturk.save**D**ata.

I often find myself making this error because (I think) this causes the sidebar to be incorrect as well.

Sorry, for making an issue instead of just doing a pull request, but I'm not really f

[2017-06-27 22:04] #280 closed

[2017-08-24 14:06] adamliter opened #282 "`psiturk-setup-example` doesn't respect `PSITURK_GLOBAL_CONFIG_LOCATION`"
If the environment variable `PSITURK_GLOBAL_CONFIG_LOCATION` is set before running `psiturk-setup-example`, `psiturk-setup-example` will still create the global config file in `~/.psiturkconfig`.

Here's a suggested patch (I'm happy to open a pull request if this looks good to folks; feel free to suggest wording changes for the printed message):

[code]

[2017-08-24 15:43] adamliter commented on #162
I've started a repository for psiTurk Docerk images ([GitHub](https://github.com/adamliter/psiturk-docker); [DockerHub](https://hub.docker.com/r/adamliter/psiturk/)).

The Dockerfile is (at the time of writing this comment):

[code]

The idea is that people build on top of this Docker file in their own projects. This approach allows for either of [the two options proposed by @jhamrick above](https

[2017-08-25 18:48] deargle commented on #162
It'd be sweet if you all got this working on the new OpenShift v3, which uses docker.

And I think nginx is a necessity. Over and over I've seen the counsel -- **"_DO NOT RUN GUNICORN AS A PUBLIC-FACING SERVER_** _use a reverse proxy in front,_"

[2017-08-25 20:17] adamliter commented on #162
@deargle I'm not familiar with OpenShift (I've always used Linode), but I assume it would be pretty straightforward to do since this is precisely the sort of thing that Docker is designed to make easy.

I've been writing some blog posts about how to do this with Linode, which I plan to make public at some point, too. So hopefully that'd be helpful to folks.

And again, if anyone has any suggestion

[2017-09-06 21:12] suchow commented on #215
Update: boto3 now has MTurk support, so I don't think there are any remaining blockers.

[2017-10-15 03:41] adamliter commented on #162
I've made psiTurk Docker images available for some older versions of psiTurk, in case anyone is interested. Everything is [here on GitHub](https://github.com/adamliter/psiTurk-docker) and [here on Docker Hub](https://hub.docker.com/r/adamliter/psiturk/). Feedback welcome. Feel free to build on top of these images in your own Dockerfiles. I plan to keep the `latest` tag up to date with the latest v

[2017-10-15 03:57] deargle commented on #162
Fair warning that `us_only` and `approve_requirement` didn't work before
2.2.0 <https://github.com/NYUCCL/psiTurk/releases/tag/2.2.0>

On Sat, Oct 14, 2017 at 9:41 PM Adam Liter <notifications@github.com> wrote:

[2017-10-15 04:20] adamliter commented on #162
Thanks @deargle. I've added a warning about this in the README.

[2017-10-31 12:18] andrewheusser opened #285 "increase gunicorn timeout to avoid worker timeout"
I have a rather complicated experiment where I've written multiple custom routes that happen between blocks in the experiment.  One of the processes can sometimes take > 30 seconds to return an answer, and I'm running into an issue where the psiturk server seems to stop responding when this happens (at least, I think this is the issue).  The error returned in the server log is:

`[28] [CRITICAL] W

[2017-10-31 17:15] deargle commented on #285
Seems like your idea should work. Does it? Although you'll want to do `config.getint("Server Parameters", "timeout")` instead. What are you going to set it to?

Note that this may bind up your server -- it currently uses sync workers. I'm not sure what exactly that will mean for your experiment, but try somehow to see how many workers you can have going through your task at once before things brea

[2017-10-31 17:18] deargle commented on #285
See [this old issue](https://github.com/NYUCCL/psiTurk/issues/73) and the referenced branch

[2017-10-31 18:07] andrewheusser commented on #285
Thanks for the comments @deargle .  I'm going to try 1 minute, as the computation I'm running should be done never take longer than that (but it can take more than 30 seconds).

I think it should be ok to lock up the server for now.  I am running the experiment on a single lab computer with only one subject at a time.  The computation has to complete before moving on to the next block, and nothing

[2017-11-02 15:28] andrewheusser commented on #285
Hi @deargle - I added the `timeout` parameter to the `ExperimentServer.user_options` dict and then `timeout = 60` to the config.txt file.  The program doesn't crash, but I'm not sure how to verify it actually changed the parameter.  Any ideas? Thank you!

[2017-11-02 15:34] andrewheusser commented on #285
The code is here: https://github.com/ContextLab/psiTurk/blob/expose-gunicorn-timeout-parameter/psiturk/experiment_server.py#L76

[2017-11-02 16:05] andrewheusser commented on #285
great, thanks for taking a look :)  That's a good idea, I'll give it a try!

[2017-11-02 16:40] andrewheusser commented on #285
great, that seems to have fixed my issue! not sure if this param would be useful to others, but happy to submit a PR if you think it is

[2017-11-02 16:48] deargle commented on #285
Couldn't hurt. Can you also add something to the docs for it, including a
use case (long api calls in routes in custom.py)?

On Thu, Nov 2, 2017, 10:40 AM Andy Heusser <notifications@github.com> wrote:

[2017-11-03 18:28] fredcallaway opened #286 "Feature request: Option for auto-approve and auto-bonus"
We always approve and assign pre-computed bonuses to everyone who completes our experiments. Thus, I would like to avoid opening up psiturk to "manually" approve and bonus. Would it be possible to have a config option for automatically approving and bonusing on completion?

[2017-11-03 18:49] deargle commented on #286
Probably possible, but not necessarily easy.

Here's some convenience bash scripts I use for approving and bonusing (bonusing one needs work). Requires installing `jq`

[code]

[code]

[2017-11-06 08:47] fredcallaway commented on #215
Bump. Is there an active development effort towards Python3 support? (Python 2.7 End Of Life is 2020!)

Is there a list of items that need to be checked off? My sense is that the main task is moving from boto2 to boto3. I'm happy to take this on, but I'd need some guidance on testing procedures.

[2017-11-07 00:30] fredcallaway opened #287 "Improve performance of amt_services.py"
For a large lab with a heavily used account, the shell is painfully slow. The current implementation frequently calls the `MTurkServices.get_workers` (likely a time-intensive function) when a more specific API call would suffice. For example, when listing workers for a single HIT `PsiturkNetworkShell.worker_list(chosen_hit=XXX)`, we first pull every worker from any HIT, and then filter out the one

[2017-11-07 02:44] deargle commented on #287
Likely so. Care to refactor for the `chosen_hit` situation? [Link for posterity](https://github.com/NYUCCL/psiTurk/blob/790d94cf328abcbb253c0dbbc42b8fe898e0488c/psiturk/psiturk_shell.py#L668). PRs welcome! Although, warning, testing and integration is slow.

[2017-11-07 02:47] deargle commented on #286
@fredcallaway I just updated my scripts to be slicker.
* `-r` in `jq` strips quotes for you
* build a list of hitIds of workers just approved, and then feed that list into the bonus script.

[2017-11-07 02:56] deargle commented on #287
By the way, all boto calls have been ultra slow for me for the past week. Not sure why.

[2017-11-07 18:36] deargle commented on #287
... upon further inspection, I think I'm actually experiencing slowness for the same reason you describe -- because all workers are always queried. And yes, this is a slow operation. We can only request 100 at a time.

I just [pushed a commit][2c73a7997c119e41dd91ec9da2159fff8991dbbb) that makes `worker_list` respect `chosen_hit`, if present. I'm going to do `worker_approve` next.

[2017-11-07 18:42] fredcallaway commented on #286
The conciseness of that first script makes me want to learn bash scripting.

That being said, it's kind of a hack. I think the "right" thing would be a python script that interfaces directly with the psiturk library. At present, there doesn't appear to be a public python API, but `PsiturkNetworkShell` could be adapted to serve this purpose.

[2017-11-07 23:32] deargle commented on #286
Indeed it is hacky. But I like it better than the hacking I was doing before, [see this gist from one of my projects](https://gist.github.com/deargle/b15272fe2a883ec7bbf68f9b131edc64). I call amt_services functions directly, and manually set db status.

[2017-11-07 23:42] deargle commented on #287
I just pushed a few more commits to master that make `worker_approve` and `worker_bonus` act smarter when given a chosen_hit or when given only one assignmentid (for the latter, added a new function to amt_services called `get_worker` that only pulls one worker instead of pulling all for a given status and/or hitid)

[2017-11-08 06:17] fredcallaway commented on #286
How do we feel about refactoring `PsiturkNetworkShell` to separate the backend logic from the shell interface (e.g. printing)? A cursory read through the code makes me think this would be fairly easy. I can take a stab at it.

[2017-11-08 06:20] deargle commented on #286
Stab away!

[2017-11-13 18:27] gureckis commented on #286
@fredcallaway been a dream for a while so we can script things instead of always relying on the shell.  time and energy for sorting out a refactor has been the obstacle.  the proposal i always had in mind was to rewrite the shell exactly as you say and then provide a psiturk library (i.e., `import psiturk`) for scripting directly within python.

[2017-11-17 18:41] zahybnaya opened #288 "public access not possible when setting server to 0.0.0.0"
I can access psiturk locally, but can't from outside the machine.
Made sure it's not a firewall issues (a different service works fine on the same port).
According to the docs I understand that I'm all set (setting host to 0.0.0.0), what am I missing?

[code]

[2017-11-17 19:08] zahybnaya commented on #288
Same behavior when I'm using the psiturk-setup-example (and changing the hostname and port).

[2017-11-17 19:11] deargle commented on #288
If you set use_psiturk_ad_server to false, you have to set ad_location

Not sure if that's your issue though.

On Fri, Nov 17, 2017, 12:08 PM Zahy Bnaya <notifications@github.com> wrote:

[2017-11-17 19:14] zahybnaya commented on #288
It is not.

Also used
[code]

[2017-11-17 19:49] deargle commented on #288
That's not right usage either, read the docs. On mobile or I'd help more.

On Fri, Nov 17, 2017, 12:14 PM Zahy Bnaya <notifications@github.com> wrote:

[2017-11-17 21:43] zahybnaya commented on #288
Sorry, I meant the other way around.
Fixed it in the comment now. So this doesn't work as well.
The docs and the example use it as well.

[2017-11-17 22:14] deargle commented on #288
Yeah that would only affect hit creation anyways.

Show what urls you are trying to use to access your server, both locally
and externally. Public access definitely works for me for my stuff. Are you
certain it's not a firewall issue?  It must be, if you can access locally
but not externally (assuming you're on the same network). Have you tried
other ports?

On Fri, Nov 17, 2017, 2:43 PM Zahy Bnay

[2017-11-17 22:23] zahybnaya commented on #288
I have tried different ports.
I also tried running an apache server on that port (no problem).

I am accessing http://{hostname}:5001
Also tried (the public, static) ip address instead of hostname to rule out DNS issues.
 Also tried via curl to rule out a browser issue.

[2017-11-17 23:42] colinquirk commented on #288
Hi, was dealing with this issue after yesterday's crash. A hit that was working was suddenly not accessible. What worked for me was running:
`sudo pip install psiturk --upgrade`
A dependency got upgraded for me (Jinja, maybe others I don't remember) and now everything is working again.

[2017-11-17 23:58] deargle commented on #288
fwiw I use bleeding-edge psiturk (master branch) and don't have any problem
with this. I can't think of why a psiturk ad server issue would suddenly
impact the ability of gunicorn to bind to 0.0.0.0

Are you getting any related errors in server.log?

On Fri, Nov 17, 2017 at 4:42 PM Colin Quirk <notifications@github.com>
wrote:

[2017-11-18 00:32] zahybnaya commented on #288
no errors in server.log (kept the default debug settings).
the psiturk was installed on this server yesterday (or the day before...) so it's pretty up to date.

not sure gunicorn does not bind to 0.0.0.0 because I CAN reach the server with the hostname (but only locally).

[2017-11-18 02:12] deargle commented on #288
Confirm that it bound to 0.0.0.0 by running: `netstat -tulpn | grep 5001`?

On Fri, Nov 17, 2017, 5:32 PM Zahy Bnaya <notifications@github.com> wrote:

[2017-11-20 17:31] zahybnaya commented on #288
@colinquirk Thanks, I have tried to upgrade and it did update Jinja, but it didn't fix the problem.

@deargle  I am using macos.  I think this is the netstat equivalent.

[code]

[2017-11-20 17:55] colinquirk commented on #288
Bummer. In case it’s useful to the people assisting, whoops y’all (which I downloaded ~1 year ago) was working for me, but my other new HIT was not. I tried taking the setup example (which was made with a newer version) and making it so that all people had to do was hit a button and they would get paid, and that would not work. But then I upgraded and that HIT and my real HIT started working. I do

[2017-11-20 18:04] deargle commented on #288
@zahybnaya Let's test a bare-bones gunicorn app. Make a file called `test.py` and put this into it:

[code]
Then call it via:

     gunicorn -b 0.0.0.0:[any port you want] test:app

Then see if you can access that? If you can't, there's something funny about your gunicorn install. Are you using a `virtualenv`? If not, try installing psiturk into a virtualenv.

(taken from [here](http://docs.gunico

[2017-11-20 22:45] zahybnaya commented on #288
I wasn't using virtualenv.

Now, I've Installed psiturk in virtualenv. Same thing.

can't access the gunicorn test.app example.

[code]

Same result as outside the virtualenv.

[2017-11-20 23:22] deargle commented on #288
But it works on localhost, right? What kind of firewall do you have that
_might_ be filtering just gunicorn traffic? Can you describe your
networking setup?

On Mon, Nov 20, 2017, 3:45 PM Zahy Bnaya <notifications@github.com> wrote:

[2017-11-21 17:26] zahybnaya commented on #288
I am working closely with our network admin.
Ports are open to all services.

[2017-11-21 18:01] deargle commented on #288
How about a firewall on the mac?

If you can get apache or nginx set up, and if gunicorn works locally, you
can set up a reverse proxy. See the docs for use_psiturk_ad_server or
adserver_rev_proxy or something like that.

On Tue, Nov 21, 2017, 10:26 AM Zahy Bnaya <notifications@github.com> wrote:

[2017-11-21 18:13] deargle commented on #288
Also, just because a port is open doesn't mean that the application itself
isn't blocked. Could be blocked at mac firewall level or somewhere else
(still unsure about your network topology).

Mac application firewall: https://support.apple.com/en-us/HT201642

On Tue, Nov 21, 2017, 11:01 AM Dave Eargle <dave@daveeargle.com> wrote:

[2017-11-21 21:54] zahybnaya commented on #288
@deargle Yes. I think you were right. It wasn't the fw rules but the Apple application fw.
I have modified the com.apple.alf.plist file by hand and restarted the socketfilterfw
by hand.  Now it works!
Thanks a lot.

[2017-11-21 21:59] deargle commented on #288
Glad it works. Can you share the plist edit you made, in case others run
into this issue?

On Tue, Nov 21, 2017, 2:54 PM Zahy Bnaya <notifications@github.com> wrote:

[2017-11-22 00:47] zahybnaya commented on #288
Modify  /Library/Preferences/com.apple.alf.plist
by adding the following to the firewall section of that file.
[code]

Then restart socketfilterfw via
[code]

[2017-11-22 00:47] #288 closed

[2017-12-11 20:49] zahybnaya opened #289 "Sandbox mode hits supports multiple workers?"
Is it possible that only a single hit can be performed in sandbox mode (by any worker) or multiple hits can be accessed at the same time? Am I creating the hit correctly?  How can I create multiple hits in the same "HIT group"?

I am using "hit create" to create hits in sandbox mode.  I get the two urls of "mturk url" and the "ad url".

This is usually what happens:
[code]
[code]

additional info:

[2017-12-14 15:47] zahybnaya opened #290 "Ads cannot be deleted, edited or viewed on "https://psiturk.org/dashboard/ads#""
"Actions" button does nothing.
Tried on Chrome and Safari.

[2017-12-14 15:53] gureckis commented on #290
👍 probably true.  the dashboard isn't a feature that has been heavily developed as many don't use it at all.

[2017-12-14 16:22] zahybnaya commented on #290
Maybe disable the button for now?

[2017-12-14 16:48] zahybnaya commented on #289
Added `allow_repeats = true` to the hit configuration in config.txt.
Same deal.
Is there any way to create a hit/hit group such that  "HITs Available" on mturk show more than 1?

[2017-12-14 16:59] deargle commented on #289
The ad url error message you show has 'debug' in it, that's not right.
That's not what hit create gives you. Not that you can use the hit create
ad url to run the study anyhow.

And I'm not sure how to make more than one available within the same HIT
group. Maybe don't run all the way to the end, so that it doesn't submit.

On Thu, Dec 14, 2017, 9:48 AM Zahy Bnaya <notifications@github.com> wrote:

[2017-12-14 17:05] zahybnaya commented on #289
@deargle  That's not clear to me. The 'debug' seems not right to me too. But that's what happens when I create the hit from psiturk.
Did I create the hit correctly? Do I have something wrong in the configuration somewhere?

[2017-12-14 17:37] deargle commented on #289
Sorry, I was mistaken, having `debug` in the ad url should work for displaying your ad.

But you _cannot_ use that url to perform the experiment. You can only use it for viewing your ad. See the note below the error messages: `Note: This url cannot be used to run your full psiTurk experiment.  It is only for testing your ad.` If you try to use it to run the experiment anyway, you'll get your error

[2017-12-14 17:49] zahybnaya commented on #289
Perfect! But in that case, what about the mturk link? why do I get the `"There are no HITs in this group available to you at the moment"`.  If this is because a hit can be taken only once by any worker than is `allow_repeats = true` not working?

[2017-12-14 22:59] deargle commented on #289
It's a Mturk restriction that a worker can only perform one assignment from a HIT. You have to create multiple Hits for `allow_repeats` to be applicable. Identical HITs are grouped together on the mturk screen, only displaying one entry for each group of hits. (I think.)

[2017-12-14 23:07] deargle opened #291 "ApproveRequirement does not exclude noobs"
See this note from the mturk docs [here](http://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_QualificationRequirementDataStructureArticle.html):

[code]

I'm going to add a NumberHITsApproved entry to the config, and I'll default it to 100.

PS -- I'm also going to make it possible to filter to MasterWorkers

[2017-12-14 23:29] deargle commented on #291
This is tricky. Defaulting the number to 100 would mean that we can't test our own sandbox hits because of not meeting the qualification. Maybe I'll default it to 0, then people can conscientiously increase it.

[2017-12-15 00:25] #291 closed

[2017-12-15 00:25] deargle commented on #291
Closed, implemented both. But note that the extra 5% for master workers is not yet reported in the price reported by psiturk.

[2017-12-26 14:38] twiecki commented on #162
@mvdoc This looks fantastic!

[2017-12-27 10:17] twiecki commented on #215
bump.

[2017-12-27 10:21] twiecki commented on #215
@fredcallaway fwiw you probably just need to update the dependency to boto3 and run `2to3` on the codebase.

[2017-12-27 21:40] fredcallaway commented on #215
I was unable to run test_psiturk.py, and I don't want to take on 2to3 conversion without working unit tests.

[2017-12-27 21:40] fredcallaway opened #292 "test_psiturk.py fails because no directory 'psiturk-example'"

[2017-12-27 21:48] deargle commented on #292
Run `psiturk-setup-example` in the directory where `test_psiturk.py` is located, and then run `pytest` also while in that directory (`pip install pytest`)

[2018-01-08 19:49] twiecki commented on #95
Any progress on this? Is it possible at all?

[2018-01-08 20:05] deargle commented on #95
Sure, just generate and distrubute your own entry urls and use "mode=lab"
in the url instead. Skip /ad, go straight to /consent or wherever.

On Mon, Jan 8, 2018, 12:49 PM Thomas Wiecki <notifications@github.com>
wrote:

[2018-01-08 20:09] twiecki commented on #95
Is there a difference to using `model=debug` which allows me to just use whatever IDs I want if I understand correctly?

[2018-01-08 21:01] deargle commented on #95
You can use whatever ids you want for anything that's not "live" or
"sandbox". Model=debug in conjunction with prefixing other url parameters
with the string "debug" disables the "if you quit now, you'll be marked as
a quitter" functionality. Besides that, there would be no difference
between "mode=debug" and "live". Lool through experiment.py to see how it
all works, including the /complete route

[2018-01-08 21:11] deargle commented on #95
Sorry, "Besides that, there would be no difference between "mode=debug" and
**"lab"**"

On Mon, Jan 8, 2018, 2:00 PM Dave Eargle <dave@daveeargle.com> wrote:

[2018-01-09 15:58] twiecki commented on #95
I couldn't find a note of "lab" in experiment.py?

[2018-01-09 16:10] deargle commented on #95
Look at how "mode" is used in there. E.g., in /complete, if not "live" or
"sandbox" , then...

On Tue, Jan 9, 2018, 8:58 AM Thomas Wiecki <notifications@github.com> wrote:

[2018-01-10 11:23] twiecki commented on #95
I see, so it doesn't have to be `lab` but just not live, sandbox, or debug.

[2018-01-10 15:17] deargle commented on #95
Right.

On Wed, Jan 10, 2018, 4:23 AM Thomas Wiecki <notifications@github.com>
wrote:

[2018-01-11 19:48] kasmith opened #293 "Displaying only dollar part of reward payment after submission"
When I submit a HIT using the latest psiTurk version (2.2.3), the amount of the reward displayed in the confirmation message appears to display only the dollar value of the reward per hit, and not the cents (see the screenshot below -- posted reward of $2.50, displayed reward of $2). All of the other values work out as if the correct reward value was input, so I believe this is just a display issu

[2018-01-22 04:07] markkho opened #295 "Condition counter doesn't distinguish mode"
I noticed that the `get_random_condcount` function doesn't take into account the mode of participants who have completed an experiment when assigning the next participant's condition. Was this intentional? I can see why you might want to be able test random assignment in debug or sandbox mode, but it can throw off condition assignment once the experiment is run live (and the database isn't cleared

[2018-01-22 05:08] deargle commented on #295
I have noticed that also. I don't think it's intentional, although with the
balanced randomization, it all works itself out, doesn't it? A workaround
is to increment the codeversion, which resets the random assignment count.

On Sun, Jan 21, 2018, 9:07 PM markkho <notifications@github.com> wrote:

[2018-01-26 17:44] #292 closed

[2018-01-26 17:44] #287 closed

[2018-01-26 17:48] deargle commented on #293
This is fixed on the master branch (see here: https://github.com/NYUCCL/psiTurk/blob/4f41b238ea692345783cfeba012dfa6a30558ed8/psiturk/psiturk_shell.py)

[2018-01-26 17:48] #293 closed

[2018-01-27 21:48] fredcallaway opened #296 "Psiturk Ad Server is down due to heavy load"
https://ad.psiturk.org/

[2018-01-27 21:49] gureckis commented on #296
yes, self-hosting ads is the solution until this is resolved:

from @deargle:
Herkou is your best bet for quickly self hosting, but there's a bit of setup required. Start reading here : https://github.com/NYUCCL/psiTurk/issues/254#issuecomment-282862588

[2018-01-27 22:29] gureckis commented on #296
hesitantly, it is back online.  i didn't do anything but perhaps the process was put in time-out for overuse and is set free again.

[2018-01-27 22:34] gureckis commented on #296
for reference, the error message comes from Passenger (https://github.com/phusion/passenger) which runs the web server application stack on behalf of Flask.  i’m not sure how the hosting company configures it but it can get overloaded if too many workers are viewing and completing
hits at the same time.  it might be wise to take it easy with the size of your assignments until cogsci deadline passe

[2018-01-28 05:16] deargle commented on #296
I just updated https://github.com/NYUCCL/psiTurk/issues/254#issuecomment-282862588 to be more self-contained. For those who want to use heroku, you only need to read that comment, and [this one](https://github.com/NYUCCL/psiTurk/issues/254#issuecomment-305229718) for a convenience python script (also available [here](https://github.com/NYUCCL/psiTurk/blob/908ce7bcfc8fb6b38d94dbae480449324c5d9d51/p

[2018-01-28 05:19] gureckis commented on #296
:+1:

[2018-02-06 14:54] cyteng92 opened #297 "SSL Error when opening the app"
I've been using PsiTurk for a while.  Starting from last week, when I try to launch the psiturk app to debug locally, I got the following error message:

Traceback (most recent call last):
  File "/usr/local/bin/psiturk", line 9, in <module>
    load_entry_point('PsiTurk==2.2.1', 'console_scripts', 'psiturk')()
  File "/Library/Python/2.7/site-packages/psiturk/command_line.py", line 15, in process

[2018-02-06 15:38] deargle commented on #297
It reaches out to psiturk.org or some url like that on boot. In this part:

if not self.check_credentials():
File "/Library/Python/2.7/site-packages/psiturk/psiturk_org_services.py",
line 43, in check_credentials

This is probably related to the server overload. You can hack it to not
check credentials, if you're not going to use the psiturk ad server.

On Tue, Feb 6, 2018, 7:54 AM cyteng92 <notif

[2018-02-06 16:12] deargle commented on #297
Is it not booting for you right now? psiturk starts fine for me at the moment.

[2018-02-06 16:16] gureckis commented on #297
i doubt it is related to the server overload.  the ad server and the server that is touched on the boot are distinct and only the ad server is likely to ever have significant load.  is looks to me like libraries related to SSL were updated on the local install and there is some incompatibility.  Please check stackoverflow for more info about that error message.  A quick check myself shows that you

[2018-02-06 16:17] cyteng92 commented on #297
Thanks for the quick reply!  It is still not working locally on my laptop (the cabin mode works).  I'll try to look into the SLL libraries and let you know how it turns out.  Thanks!

[2018-02-06 16:26] cyteng92 commented on #297
I tried to install the SSL libraries and it seems that I don't have ndg-httpsclient installed.
After the installation, it says:

Traceback (most recent call last):
  File "/usr/local/bin/psiturk", line 9, in <module>
    load_entry_point('PsiTurk==2.2.1', 'console_scripts', 'psiturk')()
  File "/Library/Python/2.7/site-packages/psiturk/command_line.py", line 15, in process
    launch_shell()
  Fil

[2018-02-06 16:27] cyteng92 commented on #297
I'm not planning to use psiturk ad server.  Is there a way to make it to not check credentials?  Thanks

[2018-02-06 16:37] gureckis commented on #297
the issue you are having is with the `requests` library and possibly your mac os x SSL environment and doesn't have anything to do specifically with psiturk per-se.  but certainly you can try to remove the psiturk dependence on the `requests` library in order to use the rest of the code.

[2018-02-06 16:38] deargle commented on #297
Try this: https://stackoverflow.com/a/39580231

Failing fixing your ssl issues (I recommend you keep trying to fix them), you can hack on psiturk by doing this (I hope you're using a virtualenv):

[code]

Then edit the files in the psiTurk folder

Work around here:

File "/Library/Python/2.7/site-packages/**psiturk/psiturk_org_services.py**", **line 32**, in init
if not self.check_credentials():

[2018-02-06 16:39] deargle commented on #297
If you don't fix ssl, you'll probably have other things break, like hit creation, when it reaches out to the mturk servers via ssl

[2018-02-06 18:21] cyteng92 commented on #297
Thanks a lot for all the suggestions. I tried to install the SSL libraries and updated psiturk to the newest version.  This time I got a different error when starting psiturk:

Traceback (most recent call last):
  File "/usr/local/bin/psiturk", line 9, in <module>
    load_entry_point('PsiTurk==2.2.3', 'console_scripts', 'psiturk')()
  File "/Library/Python/2.7/site-packages/psiturk/command_line.p

[2018-02-06 18:23] deargle commented on #297
Might not help, but sometimes using a virtualenv gives you a fresh start
and can sidestep some of these issues. You can tinker with different
`requests` versions without messing up the system for other users.

On Tue, Feb 6, 2018 at 11:21 AM cyteng92 <notifications@github.com> wrote:

[2018-02-06 18:24] cyteng92 commented on #297
Thank you! I'll look into this.

[2018-02-06 20:02] patatez opened #298 "Cannot log in, no contact info"
I am having problems in logging into psiturk. I am aware this is an irrelevant issue for the git page but there were no contact information on the psiturk website, and i did not want to send mails to the people within the computation and cognition lab. Where are we supposed to contact with log in related issues, or any issues with the accounts?

[2018-02-06 22:32] fredcallaway commented on #254
Following @deargle's instructions, I got an error pushing to heroku
[code]

which I was able to solve by removing the `==2.6.2` from requirements.txt, so it now reads
[code]

[2018-02-06 22:35] fredcallaway opened #299 "heroku deploy fails with psycogp 2.6"
[code]

[2018-02-06 22:37] deargle commented on #254
@fredcallaway odd that it works for me still, but yeah https://github.com/psycopg/psycopg2/issues/594 says 2.7.1 works.

[2018-02-06 22:39] deargle commented on #299
https://github.com/NYUCCL/psiTurk/commit/703d4edfffd5f2b80c67e797b292297cf48bc976

[2018-02-06 22:39] #299 closed

[2018-02-06 22:40] fredcallaway commented on #254
Haha looks like you beat me to the pull request ;)

[2018-02-06 22:44] deargle commented on #254
I'm ultra fast when I can just use the github gui to make changes ;-)

[2018-02-06 23:22] gureckis commented on #298
email authors@psiturk.org with a description of the issue and your user/pass and we'll look into it.

[2018-02-06 23:45] #298 closed

[2018-02-11 04:48] #289 closed

[2018-02-16 19:38] deargle commented on #297
Someone please report back about whether a virtualenv fixes the problem

[2018-02-16 19:57] cyteng92 commented on #297
I installed virtualenv and launched psiturk within it.  Still getting the same error though..

The next thing I tried was to hack the check_credential function and set verify= False, then when I launched the psiturk app, it just hanged for a long time and never started.

After I disabled the check_credentials function, I started to get the error message from the urllib2 library, instead of request

[2018-02-16 20:27] deargle commented on #297
Try installing a different python:
https://github.com/mcs07/CIRpy/issues/3#issuecomment-171820410

On Fri, Feb 16, 2018 at 12:57 PM cyteng92 <notifications@github.com> wrote:

[2018-02-21 20:20] cyteng92 commented on #297
I am currently using python 2.7.10. What version would you recommend to use? Should I bump it down to 2.6, or try a newer version? Thanks

[2018-02-21 20:32] deargle commented on #297
No, I'd stay on 2.7, but just try following that link to install python 2.7
from brew and see what happens. It's a different distribution. They say
there's something wonky about the mac python default install. I'm not a mac
user so can't confirm.

This link: https://github.com/mcs07/CIRpy/issues/3#issuecomment-171820410

On Wed, Feb 21, 2018 at 1:20 PM cyteng92 <notifications@github.com> wrote:

[2018-02-21 22:54] lilyz commented on #297
I had the same issue. I fixed it just now by using the version of python installed using brew.

[2018-02-22 21:42] cyteng92 commented on #297
Just a little update, I fixed it by installing python 2.7.14.

It is still a bit strange to me that pisturk worked fine with python 2.7.10 previously but became incompatible since Feb 2nd.  It might be worthwhile to make a note about the python version in the documentation.

Thank you all for the help!

[2018-02-22 21:42] #297 closed

[2018-03-10 23:35] fredcallaway commented on #286
Reviving this issue now that we're in post-conference-deadline season. I think a reasonable (albeit ambitious) way forward is to address this issue along with the Python 3 issue with a new major version (PsiTurk 3).

I could take the lead on this, but I would want to drop Python 2 support. Additionally, I wouldn't want to re-implement the shell because I can't think of a case that I would rather u

[2018-03-11 00:04] deargle commented on #286
Fyi moving to python 3 involves moving to boto3, which uses a different
(more current) mturk api -- so the only code replication python-wise would
be the server, not the shell functionality or mturk api calls.

On Sat, Mar 10, 2018, 4:35 PM Fred Callaway <notifications@github.com>
wrote:

[2018-03-11 20:17] jacob-lee commented on #286
Moving to python3 is probably inevitable. boto might not be supported much longer, the cmd2 library is dropping support for python27, and so on. Some of this will require substantial work; might as well get ahead of it. boto3 will probably be a pain point because the API is completely different.

Major changes to psiturk must answer the question, "what value does psiturk provide over what one can

[2018-03-11 21:58] jacob-lee commented on #295
Seems to me like it ought to distinguish mode. I guess I can look into adding it, if Dave agrees.

Actually, although the balanced randomization mechanism works pretty well, in some cases it does not do well (e.g. when workers submitted, but their data is not usable), or when the design is more complicated.

It is hard to anticipate what users will require; I've spent quite a bit of time writing u

[2018-03-11 22:22] fredcallaway commented on #286
This is a good way to think. For me, the main value of psiturk is that it handles the server/client interaction (e.g. condition assignment, repeat participant blocking, and saving data). The other primary features of psiturk (that I can identiy) are server hosting (with gunicorn) and AWS interaction (a wrapper around boto).

I agree that the server hosting is an important feature that should not b

[2018-03-11 23:07] deargle commented on #286
Here's my value-add:
- server/client interaction (e.g. condition assignment, repeat participant blocking, and saving data)
- flask/gunicorn stack*
-- for debugging locally (@fredcallaway, you say you don't use the gunicorn functionality at all -- you don't debug locally?)
-- for use in heroku deploys, etc, which still require something like gunicorn in front of Flask to serve the routes.
- Boto wr

[2018-03-12 01:45] gureckis commented on #295
yes, this is a long ago-recognized problem.  we tried soliciting feedback about the best algorithm for this (long story short it apparently is simple random assignment ala [PlanOut](http://facebook.github.io/planout/).

but yeah, ideally we could have a file akin to `custom.py` such as `assignment.py` that you can define your own randomization algorithm and have it travel along with your experimen

[2018-03-12 01:53] gureckis commented on #286
I agree with @deargle that if you abstract the current shell commands into one python API (ala `import psiturk`) you'll accomplish two things at once.  one is the library would be started.  second is that you expose a bunch of easier ways to use psiturk.  this can be the interactive shell, a command line declarative type interface, and even a web-based interface (because you can add a /admin route

[2018-03-12 04:03] jacob-lee commented on #295
PlanOut looks interesting; hadn't seen that project before.

[2018-03-12 05:18] jacob-lee commented on #286
I concur. A general API to psiturk services would make the design of client interfaces (gui, cli, web interface, etc) much cleaner, by separating how a service is called from what the service provides (case in point: the repeated checks of the `quiet` flag in PsiturkNetworkShell.

Many of Dave's examples of added value (condition assignment, repeat participant blocking, and saving data), are thing

[2018-03-12 05:32] deargle commented on #286
FWIW lest anyone else start I've nearly completed an abstraction of amt_services from the shell -- only took an hour or so. Will share soon on a branch.

[2018-03-12 06:02] fredcallaway commented on #286
If we went the GUI web interface route, would you need to have config variables stored in a server-side database? Or could you read and write to a plain text config file (maybe use json or yaml instead of the `.ini` syntax of config.txt)?

[2018-03-12 06:15] deargle opened #301 "Inefficient worker bonus code for multiple assignment-ids"
Note to self, https://github.com/NYUCCL/psiTurk/blob/04a9243ffa9ed28940ab18836d71a66137a11f92/psiturk/psiturk_shell.py#L795 is inefficient when there are hundreds of workers to loop through. Should instead just `get` the assignment-ids one at a time.

[2018-03-12 06:23] deargle commented on #286
Okay here it is. https://github.com/NYUCCL/psiTurk/tree/shell-mturk-abstraction

New file called `amt_services_wrapper` that can be imported by calling `import psiturk.amt_services_wrapper` in any python script.

Tested pretty thoroughly all shell commands to make sure they still work. Haven't tested by direct import into a python script yet though. Going to bed 😴

And @fredcallaway anything is po

[2018-03-12 16:51] jacob-lee commented on #286
Great. I think the next step is to remove what is properly the concern of the client, e.g. removing print statements, or checking whether its in quiet mode, etc. For example, instead of:

[code]

we do (something like) this:

[code]

[2018-03-12 20:20] deargle commented on #286
@jacob-lee True that we'll need to not use `print` statements if we're using a web GUI. Meanwhile though this should work for scripting purposes.

And `quiet` is currently only used in one place -- in deciding whether to show a confirmation dialog for `hit create`. I'm not sure how to abstract that into the shell code, unless we just remove it entirely. We will also need to move any `raw_input` ca

[2018-03-12 23:07] jacob-lee commented on #286
Could be that we are thinking along different tracks. I don't see a place
for any kind confirmation dialogue, or other interactive content in a
services api; nor print statements. If a command doesn't have all the
information it needs to execute, it should throw an exception to be handled
by the client (or return an object indicating the failure). That client can
be a web gui, a CLI, commands in a

[2018-03-13 06:26] deargle commented on #286
I got you. What I meant though is that a minimum viable product was ready to be used for scripting even though the amt_wrapper still has print statements in it. I worked some more on this tonight and made some progress (already pushed to the branch):

- worker_list in `amt_services_wrapper` now returns json instead of immediately printing json. The shell immediately prints the json.
- the cli is n

[2018-03-13 15:31] jacob-lee commented on #286
I was also working on my own version of the wrapper last night. However, there is no point in duplicating effort. Let me know how I can help.

I have two suggestions:

1. that we move towards having these methods return data encapsulated in dicts, because a relatively thin wrapper can readily convert that to json for data interchange with web clients, but is also readily used by other kinds of cli

[2018-03-13 16:10] deargle commented on #286
Let's figure out how we can work together on this. Are you comfortable working off of my branch? It's by no means finished, I'm just incrementally improving it. I think the general structure is good though -- i.e., all `amt_service` calls have been moved out of the shell and into that class.

What do you want to work on, the exception hierarcy and returning dicts? Whatever we do, I think for now t

[2018-03-13 17:54] fredcallaway commented on #286
Beyond the print statements and `raw_input` calls (which definitely should be removed), I think the methods of `MTurkServicesWrapper` are still structured in a way that is more natural for the shell than for an API. In particular, I think the methods should be smaller and have fewer arguments. For example, rather than one `worker_approve` method that takes both a hit id and assignment ids, I would

[2018-03-13 17:55] fredcallaway commented on #286
(As an aside @deargle: how do you get the nice inline code links?)

[2018-03-13 18:21] deargle commented on #286
Ah yes, there's one stray `raw_input` in worker_bonus that shouldn't be there. All of the other are in the aws db methods, which I have zero motivation to work on.

That's a valid criticism. I would still rather we work off of this branch though as we make the wrapper more api-like. The abstraction of all amt_service calls is an important first step which the branch already has done. Plus all the

[2018-03-13 18:26] gureckis commented on #286
re: rds: I believe it could go.  i wrote a lot of that under the idea that people with AMT account automatically have a low cost MySQL service due to AWS but I agree it is likely unused and complicates the code.  this is also not well documented to my memory so its just taking up space.

[2018-03-13 19:02] jacob-lee commented on #286
@fredcallaway

The logic can be simplified (for that, see my example code edit to worker_reject in this thread--ignore the fact that one is unlikely to ever want to reject all workers in a HIT). However, you are right. Instead of, e.g.

    worker_approve(hitids=[], assignmentids=[])
we have

    approve_assignments(assignmentids=[])

and

    approve_assignments_for_hits(hitids=[])

You might tak

[2018-03-13 19:02] fredcallaway commented on #286
Something worth considering is whether we want to update the shell code alongside the api code. Obviously we will eventually want to implement the shell with the psiturk API, but for the sake of development, it might make sense to write the API without worrying immediately about updating the shell code to use that API.

Instead of basing the API's structure around the needs of the shell, it might

[2018-03-13 19:07] fredcallaway commented on #286
I agree that the RDS code is cruft. Setting up a database on Heroku is super easy, and self-managing on a server (e.g. EC2) is only slightly more difficult. If we want to make things extremely user-friendly, we could provide scripts (or even API calls?) to create MYSQL databases and tables.

[2018-03-13 19:27] deargle commented on #286
Single tear for @gureckis 's RDS code. 😢 RIP

@fredcallaway Use cases are a good idea, especially for the "web dashboard" user.

Given that my branch is technically working, and is progress for the CLI regardless of where we go with the API from here, I think I'll merge it into master unless there are loud objections for some reason.

[2018-03-13 20:10] deargle commented on #286
Also @fredcallaway:

You overestimate a large swath of the psiturk userbase 😉 Or at least, a large swath of the ones who post on the google group.

[2018-03-13 20:17] fredcallaway commented on #286
Sounds like an argument for adding automatic database management to the library!

[2018-03-13 20:37] deargle commented on #286
Yeah one-click / one-call heroku-psiturk would be slick. Curious about the last comment about Heroku expense. I've gotten by with upgrading to Hobby dyno for when I post hits, at $7 per month. Do you find Hobby dynos not powerful enough for your studies?

[2018-03-13 23:57] fredcallaway commented on #286
Actually, it's been fine for me. There have been complaints from others in my lab, but I think they are running extremely large-scale studies (1000s of participants).

[2018-03-14 03:24] gureckis commented on #286
i love the idea of the use cases to help flesh out the api first.  it might be interesting to think about what kind of control structures the API could have.  for instance, @alexanderrich and i had discussed if you wanted to repost hits until you reach a particular N in each condition or N in the entire study.  i had thought about that a lot but i wasn't sure how to implement those in a clear way.

[2018-03-14 03:35] deargle commented on #286
@gureckis if you're interested I have a tacky batch script that posts N number of hits in batches spaced out over some time period, https://gist.github.com/deargle/f454a156d3a72adf62869e2ef09101d8 But yeah it would be nice to do that in psiturk proper. Or do you mean in the event that you post HITs but they don't all get taken? Something to do that _would_ be helpful, just ran into that for the fi

[2018-03-14 16:02] deargle commented on #286
I just merged my branch with the CLI improvements into master, to help with those doing scripting from bash or whatever (like myself and @jacob-lee). I'm not saying the branch is a good API; but it does maintain shell functionality while decoupling the amt_service calls from the shell class, so there's that.

@fredcallaway how do you want to do the use-cases? Collaboratively like on a google doc o

[2018-03-14 23:43] AlJohri opened #302 "[question] a little confused"
hi! i'm evaluating whether psiTurk will work for some experiments I'm about to run. I've tried reading all the docs on https://psiturk.org/ but I'm still pretty confused as to how it works.

1. what exactly is an Ad in terms of MTurk? is it just a HIT? that redirects you to the experiment running on your local computer? if so, why not present the task directly instead of going through an ad?

2. w

[2018-03-15 00:38] deargle commented on #302
Hi Aljohri,

To create an ExternalHit on mturk, you make a call with some general descriptive information like reward amount, number of assignments for the hit, duration of the hit, and _a link to your ad_. You don't actually upload any data to mturk, just metadata like that. The "ad" has rules set by mturk -- one being that it must be served over https. The "ad" is the url that will load into an

[2018-03-15 00:47] AlJohri commented on #302
1. Okay this makes sense- that's a nifty idea to switch the interface before the worker accepts an assignment.

2. Is there a benefit to running the study in this way via a server/db instead of POSTing the data back to MTurk and downloading the data from there when the Hits are completed? That way you keep MTurk's API as the source of truth? I've done this once before with a regular QuestionForm a

[2018-03-15 01:43] fredcallaway commented on #286
For use-cases, I was imagining writing a script that uses the hypothetical psiturk API library. I've been working on this locally. What's the best way to collaborate/share these? I can push to my own branch of psiturk and make a pull request? I'm not sure it makes sense to include these in the main psiturk repo though.

[2018-03-15 02:05] gureckis commented on #286
what about https://gist.github.com for snippets

[2018-03-15 02:42] deargle commented on #302
Not psiturk's idea, it's just the way mturk works. They _tell_ you to do that.

You're thinking about doing a db-less experiment, pure javascript, post a json array of data to mturk when you're done? Theoretically possible if you're doing simple random assignment. One concern is that you could _not_ block repeats, you could not flag quitters, you could not do balanced random assignment like psitur

[2018-03-15 03:00] deargle commented on #286
Ay, I was getting excited, thought we were going to kick out UML diagrams.

One idea is that we just mirror the `boto` signature calls for `hits` and `workers`, just wrapping those in order to update psiturk statuses. I think the need to update and reference psiturk statuses are the only reason we're not calling boto directly. Also, `hits` and `workers` are really the only objects we care about. M

[2018-03-15 19:11] AlJohri commented on #302
I'm going to look more into the "block repeats", ">9 assignments", and "40% commission" part you mentioned. I wasn't aware of any of that before. Might have wasted a lot of money in past experiments...

thank you for the prompt and thorough responses! this was super helpful!

[2018-03-15 19:11] #302 closed

[2018-03-16 23:12] fredcallaway commented on #286
As I've been working on the hypothetical scripting, I'm realizing that an API isn't *really* what I want. It would make things easier than what I'm doing now, but I think even this kind of scripting is more effort than necessary for the typical use case.

I think what @deargle implemented already provides a decent API for programmatic access. So, I think development effort may be better directed t

[2018-03-16 23:46] fredcallaway commented on #286
Given the API @deargle implemented, could you create a web interface as a custom route? Is there any reason you couldn't create hits and compensate workers through those routes?

[2018-03-17 00:54] fredcallaway opened #303 "Web interface as replacement for shell"
It would be great to have a web interface that can take the place of the shell. Functionality should include:

- posting HITs
- approving assignments
- granting bonuses

These three would be good first step. Future directions could include

- viewing data
    - the raw SQL database
    - parsed data string (similar to how mLab allows you to make a tabular table from a hierarchical object)
    - pl

[2018-03-17 03:30] deargle commented on #286
Totally possible to implement a custom route to do those things that uses
the _approach_ I wrote, but most web functions are not web-client ready
yet. They still have print functions, they don't throw exceptions yet. Once
that is done, mission-ready, although as you noted, the function signatures
in the wrapper are a bit awkward because they are clones of functions used
by argparse. But they're st

[2018-03-17 07:38] fredcallaway commented on #286
about is that those are the only things we necessarily need to write
wrappers around boto for

I see; I wasn't considering database updating. Generally, I have been imagining a high-level API, whereas you have (correctly I think) started with a low-level wrapper around boto that handles the psiturk book-keeping. I identify three tasks that should be completed before we start building higher level

[2018-03-17 15:14] jacob-lee commented on #286
@deargle @fredcallaway

Your (1),(2), and (3) I think is the main idea. The interface a requester uses will determine how it wants to handle exceptions, etc. Logging, actually, might be best handled by the clients.

Returning objects from a PsiturkResponse class (or some such) is fine too. That is pretty much what boto3 does, and provides an way of getting a dict.

I think everything in boto3 shou

[2018-03-18 05:59] deargle commented on #303
Help wanted: gui mockups for use cases / functionality

[2018-03-18 06:15] gureckis commented on #303
i can give it a shot since i did most/all of the psiturk.org design (except illustrations).  will copy elements from the psiturk dashboard.

[2018-03-18 20:44] fredcallaway commented on #303
@gureckis if you start a branch for this, let me know. I'd be interested in contributing as well!

[2018-03-18 20:45] gureckis commented on #303
it'll be a little bit because of some pending deadlines and teaching... but feel free to start if you are motivated!

[2018-03-18 21:07] fredcallaway commented on #286
I think it makes sense to switch to py3 at the same time as we make these structural changes. I would vote to not attempt to maintain compatibility with py2.

Thus, given that we'll be breaking backward compatibility, I think we should be working on a branch other than master.

[2018-03-18 21:48] deargle commented on #286
I disagree. I view the web dashboard feature as independent ot py3. There's
really not many structural changes remaining to be made at this point. The
py3 upgrade will be more painful, because of swapping out boto with boto3,
and the new mturk api framework that comes with that. Exception handling in
the wrapper should generalize easily to py3. Web interface upgrade can
happen before and independe

[2018-03-23 18:26] deargle opened #305 "Workers blocked from starting the study if they previewed in the past (but didn't start)"
https://github.com/NYUCCL/psiTurk/blob/7ae468c809ff7f0982e937e046b657930d5c560c/psiturk/experiment.py#L283

Bad logic here, but not sure how to fix it yet. If someone previews a hit, goes away, and then comes back at a different time to take it, they will get a different assignment_id, and so this code will flag that they already completed the experiment, even though they have status=1 in the db.

[2018-03-25 20:27] Speldosa opened #306 "Update quickstart to mention need of publicly-accessible server"
I've installed Psiturk on a fresh install of Ubuntu 17.04. Everything works smooth in the debug mode (both for the stroop default example and my own experiment) and I can create HITs that show up in the workers sandbox. However, when I try to access my experiment, I'm just faced with a blank screen which eventually is replaced with a screen saying:

Since I can create the HITs, I'm assuming there'

[2018-03-25 20:29] deargle commented on #306
Find someone local to help who understands the concept of a public ip
address.

On Sun, Mar 25, 2018, 2:27 PM Martin Asperholm <notifications@github.com>
wrote:

[2018-03-25 21:35] Speldosa commented on #306
Maybe the quick start guide (https://psiturk.org/quick_start/) should be modified to reflect that one has to get the IP addresses in order in order to get an experiment started in the workers sandbox. As of now, step 7 just tells the user to set the host to [0.0.0.0] and then continue.

[2018-03-25 21:59] deargle commented on #306
Fair point.

On Sun, Mar 25, 2018, 3:35 PM Martin Asperholm <notifications@github.com>
wrote:

[2018-03-26 19:47] deargle commented on #305
Reviewed and tested code, my previous statement is false, a participant is only inserted into the db once they reach `/exp`. Worker was incorrect.

[2018-03-26 19:47] #305 closed

[2018-03-26 21:38] #296 closed

[2018-03-26 22:05] deargle commented on #286
A step towards auto-approving workers: https://github.com/NYUCCL/psiTurk/commit/374d907f3f1b86320802ba083e1691635d682738

See the commit notes though. Currently works by fetching _all workers_ for the current mturk credentials (well, technically, it first fetches all _hit ids_ for the current credentials, and then fetches all workers for all hit_ids). Then the code attempts to approve each assignm

[2018-03-26 22:28] deargle commented on #286
I can make it so that the default for `hit list` only returns hits for the current study, while `hit list --all` returns _everything_. I think the "count" for the shell makes more sense to only count hits associated with the current study.

One potential downside of this is if the database happens to get lost. Would be difficult to approve all workers for all hits... wait, hold that, I can add a `

[2018-03-27 22:48] fredcallaway commented on #286
I think this is an _excellent_ idea. This already removes most of the burden of non-automatic approval. You can just set up a recurring CRON job that runs `worker approve -all` and `worker bonus --auto --all`.

For implementation, I imagine that you are thinking something like this?

1. Select unique hit id's from the sql table
2. Collect assignments for each hitid (`get_workers`)
3. Approve each

[2018-03-28 00:05] Speldosa commented on #306
I got everything working using an EC2 instance on AWS. I created a pull request (#307) where I updated the document and placed it in the index file (since it wasn't there from before and I only found it after some extensive Duck Duck Go sessions). I really think that a link to this document should be included in the quickstart guide since it's probably the easiest solution if you haven't got exper

[2018-03-28 00:47] jacob-lee commented on #286
If you mean defaulting the `hit list --active` option, then I'm all for it.

In the previous point, the --all flag meant all hits, but here it seems to mean --active. How about just add an --active flag